
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Inventory/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<style>
    .md-pane-open {
        z-index: 9999;
    }
</style>

<div ng-app="myApp" ng-controller="khogiuhangCtrl">
    <div class="content">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New Product</button>
        <!-- Modal Add New -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Thêm kho giữ</legend>
                                <!-- Text input-->
                                <!-- Text input-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label" for="name">Sale giữ hàng: </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="nvkd.HO_VA_TEN" value="{{nvkd.HO_VA_TEN}}" ng-change="onNhanVienFind()" ng-focus="showtable_ho_va_ten = true">
                                                <input type="hidden" class="form-control" ng-model="nvkd.USERNAME" ng-change="onNhanVienFind()" ng-focus="showtable_ho_va_ten = true">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="showtable_ho_va_ten = !showtable_ho_va_ten" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block" ng-show="showtable_ho_va_ten">
                                                        <div class="table-responsive" style="max-height: 280px">
                                                            <table class="table table-striped table-hover" st-pagination-scroll st-table="staffsCollection" st-safe-src="arrayNVFinded">
                                                                <tbody>
                                                                    <tr ng-repeat="staff in staffsCollection" style="cursor:pointer" ng-click="showInfoStaff(staff)">
                                                                        <td>{{staff.HO_VA_TEN}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label" for="name">Khách hàng: </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="kh.TEN_CONG_TY" ng-change="onKHFind()" ng-focus="showtable_khach_hang = true">
                                                <input type="hidden" class="form-control" ng-model="kh.MA_KHACH_HANG" ng-change="onKHFind()" ng-focus="showtable_khach_hang = true">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="showtable_khach_hang = !showtable_khach_hang" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block" ng-show="showtable_khach_hang">
                                                        <div class="table-responsive" style="max-height: 280px">
                                                            <table class="table table-striped table-hover" st-pagination-scroll st-table="KHCollection" st-safe-src="arrayKHFinded">
                                                                <tbody>
                                                                    <tr ng-repeat="staff in KHCollection" style="cursor:pointer" ng-click="showInfoKH(staff)">
                                                                        <td>{{staff.TEN_CONG_TY}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label" for="name">Ngày giữ: </label>
                                        <div class="col-md-4">
                                            @*<input type="text" placeholder="Ngày giữ" mask="39/19/9999" class="form-control input-md" ng-model="ngay_giu">*@
                                            <input type="text" datepicker class="form-control datetimepickerKT" ng-model="ngay_giu">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Hủy đơn giữ: </label>
                                    <div class="col-md-1">
                                        <input type="checkbox" ng-model="huy_don_giu" style="margin-top: 10px">
                                    </div>
                                    <label class="col-md-2 control-label" for="name">Đơn đang xuất: </label>
                                    <div class="col-md-1">
                                        <input type="checkbox" ng-model="don_dang_xuat" style="margin-top: 10px">
                                    </div>
                                    <label class="col-md-3 control-label" for="name">Đơn đã hoàn thành: </label>
                                    <div class="col-md-1">
                                        <input type="checkbox" ng-model="don_da_hoan_thanh" style="margin-top: 10px">
                                    </div>
                                </div>
                                <div class="form-group" style="text-align: center;">
                                    <input type="number" placeholder="Số lượng hàng giữ muốn nhập" id="number" />
                                    <button ng-click="addtoshow()">Nhập</button>
                                </div>
                                <div class="form-group themchitiet" style="display: none;">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead class="table-header-popup" style="background-color: #d7f1f9">
                                                <tr>
                                                    <th style="text-align: center">Mã hàng</th>
                                                    <th style="text-align: center">Số lượng giữ</th>
                                                    <th style="text-align: center">Ngày xuất</th>
                                                    <th style="text-align: center;width: 10%">Đã xuất</th>
                                                    <th style="text-align: center">Ghi chú</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="i in range(1)">
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="arraychitiet[$index].ma_hang">
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="arraychitiet[$index].so_luong_giu"></td>
                                                    <td>
                                                        <input type="text" datepicker class="form-control datetimepickerKT" ng-model="arraychitiet[$index].ngay_xuat">
                                                    </td>
                                                    <td><input type="checkbox" ng-model="arraychitiet[$index].da_xuat"></td>
                                                    <td>
                                                        <textarea id="ghichu" name="ghichu" placeholder="Ghi chú" class="form-control input-md" ng-model="arraychitiet[$index].ghi_chu"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group" style="padding-top: 20px;border-top: 1px solid #ddd;">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8 addnew">
                                        <button id="addnew" name="addnew" class="btn" ng-click="add()" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã giữ kho</th>
                        <th>Sale giữ</th>
                        <th>Tên công ty</th>
                        <th>Ngày giữ</th>
                        <th>Hủy đơn giữ</th>
                        <th>Đơn đang xuất</th>
                        <th>Đơn đã hoàn thành</th>
                        <th>Sửa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="entry in list_khogiuhang" ng-click="get_chitietgiuhang(entry)" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td data-toggle="modal" data-target="#chitiethanghoa">{{entry.MA_GIU_KHO}}</td>
                        <td data-toggle="modal" data-target="#chitiethanghoa">{{entry.HO_VA_TEN}}</td>
                        <td data-toggle="modal" data-target="#chitiethanghoa">{{entry.TEN_CONG_TY}}</td>
                        <td data-toggle="modal" data-target="#chitiethanghoa">{{entry.NGAY_GIU | stringToDate:"dd/MM/yyyy"}}</td>
                        <td class="text-left">
                            <input type="checkbox" data-ng-hide="editMode" ng-model="entry.HUY_DON_GIU" ng-disabled="true" />
                            <input type="checkbox" data-ng-show="editMode" data-ng-model="entry.HUY_DON_GIU" data-ng-required />
                        </td>
                        <td class="text-left">
                            <input type="checkbox" data-ng-hide="editMode" ng-model="entry.DON_DANG_XUAT" ng-disabled="true" />
                            <input type="checkbox" data-ng-show="editMode" data-ng-model="entry.DON_DANG_XUAT" data-ng-required />
                        </td>
                        <td>
                            <input type="checkbox" data-ng-hide="editMode" ng-model="entry.DON_DA_HOAN_THANH" ng-disabled="true" />
                            <input type="checkbox" data-ng-show="editMode" data-ng-model="entry.DON_DA_HOAN_THANH" data-ng-required />
                        </td>
                        <td>
                            <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(entry)" class="btn btn-default">Edit</button>
                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; save(entry)" class="btn btn-default">Save</button>
                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="chitiethanghoa" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã hàng</th>
                                    <th>Số lượng giữ</th>
                                    <th>Ngày xuất</th>
                                    <th>Đã xuất</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in filtered = (list_chitietgiukho) |  itemsPerPage:10 track by item.MA_HANG " class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <td>{{item.MA_HANG}}</td>
                                    <td>{{item.SL_GIU}}</td>
                                    <td>{{item.NGAY_XUAT | stringToDate:"dd/MM/yyyy"}}</td>
                                    <td class="text-left">
                                        <input type="checkbox" ng-model="item.DA_XUAT" ng-disabled="true" />
                                    </td>
                                    <td>{{item.GHI_CHU}}</td>
                                </tr>
                                <tr ng-if="item.expanded" dir-paginate-end=""></tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" style="border: none !important">
                                        <dir-pagination-controls max-size="12" style="float:right;"
                                                                 direction-links="true"
                                                                 boundary-links="true">
                                        </dir-pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-8 addnew">
                                <button id="exit" name="exit" class="btn addnewmodal" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

