
@{
    ViewBag.Title = "Index";
}
<style>
    .margin-left{
        margin-left: 20px;
    }
    li{
        list-style-type: none;
    }
    .treeview p,i{
        display: inline-block;
    }
    .col-md-12 p i{
        font-weight: bold;
    }
    .edit_name{
        height: 50px;
        padding-bottom: 80px;
    }
  .tree_menu{
        background: #D3F8F7;
        padding-top: 15px;
        padding-left: 25px;
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px #888888;       
    }
    .angle{
        margin-right: 15px;
    }
    .tree_menu p{
        color: black;
    }
    .fa-folder{
        margin-right: 5px;
    }
    .fa-circle-o{
         margin-right: 5px;
    }
    .fa-hand-o-right{
        margin-right: 5px;
    }
</style>
<div ng-app="myApp" ng-controller="addmenuCtrl" class="content">
    <div class="col-md-4 panel panel-default">
        <div class="panel-heading title">Thêm menu</div>
        <center>
            <div class="panel-body" style="margin: 20px 0;">
                <div class="col-md-12 edit_name"><p class="col-md-3"></p><input type="text" style="height:inherit; width: inherit;" placeholder="Mã menu" ng-model="ma_menu" class="col-md-9" /></div>
                <br />
                <div class="col-md-12 edit_name"><p class="col-md-3"></p><input type="text" style="height:inherit; width: inherit;" placeholder="Tên menu" ng-model="ten_menu" class="col-md-9" /></div>
                <br />
                <div class="col-md-12 edit_name"><p class="col-md-3"></p><input type="text" style="height:inherit; width: inherit;" placeholder="Link liên kết" ng-model="link_menu" class="col-md-9" /></div>
                <br />
                <div class="col-md-12 edit_name"><p class="col-md-3"></p><input type="text" style="height:inherit; width: inherit;" placeholder="Menu cha" ng-model="menu_cha" class="col-md-9" /></div>
                <button type="button" ng-click="add()" class="btn" style="float: right;margin-top: 20px;">Lưu</button>
            </div>
        </center>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 panel panel-default">
        <div class="panel-heading title">Danh sách menu</div>
        <aside>
            <!-- sidebar: style can be found in sidebar.less -->
            <div class="sidebar">
                <ul>
                    <li class="treeview tree_menu" ng-repeat="menu in dsmenu">
                        <a href="#" ng-mouseup="edit(menu.MA_MENU);send(menu)">
                            <i class="fa fa-folder"></i><p>{{menu.TEN_MENU}}</p>
                            <i class="fa fa-angle-left pull-right angle"></i>
                        </a>

                        <ul class="treeview-menu" style="display: none">
                            <li class="firstchild" ng-repeat="item in danhsachmenucha">
                                <a href="#" ng-mouseup="push(item.MA_MENU);send(item)">
                                    
                                    <i class="fa fa-hand-o-right"></i><p>{{item.TEN_MENU}}</p>
                                    <i class="fa fa-angle-left pull-right angle"></i>
                                </a>

                                <ul class="treeview-menu" style="display: none;">
                                    <li class="" ng-repeat="abc in listmenu" style="padding-top: 15px;border-bottom: 1px solid white">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i><p ng-click="send(abc)">{{abc.TEN_MENU}}</p>                                                                        
                                        </a>
                                    </li><!-- /.third level-->
                                </ul>
                            </li><!-- /.second level-->
                        </ul>
                    </li>
                </ul>
            </div>   
            <!-- /.sidebar -->
        </aside>
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Update Inventory</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên menu: </label>
                                    <div class="col-md-4">
                                        <input id="makho" name="makho" type="text" placeholder="Tên menu" class="form-control input-md" ng-model="newmodel.TEN_MENU">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Link: </label>
                                    <div class="col-md-4">
                                        <input id="tenkho" name="tenkho" type="text" placeholder="Link" class="form-control input-md" ng-model="newmodel.LINK">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Menu cha: </label>
                                    <div class="col-md-4">
                                        <input id="diachikho" name="diachikho" type="text" placeholder="Menu cha" class="form-control input-md" ng-model="newmodel.MENU_CHA">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="save(newmodel.MA_MENU)" data-dismiss="modal">Save</button>
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />      
</div>
    <div class="col-md-1"></div>
    <button type="button" id="editbtn" class="btn" data-toggle="modal" data-target="#myEdit" style="display: none;float: left;margin-top: 20px;">Sửa</button>
</div>



