
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Settings/Views/Shared/Layout.cshtml";
}
<link href="~/Content/self-writing/css/DIchVu.css" rel="stylesheet" />

<div ng-app="myApp" ng-controller="dichvuCtrl">
    <div class="content">

        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" class="form-control" placeholder="Type Inventory Name You Want To Search Here" ng-model="searchtext" style="width:  60%">
                </div>

            </form>

        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New Dịch vụ</button>

        <!-- Modal Add New-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New Inventory</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã dịch vụ: </label>
                                    <div class="col-md-4">
                                        <input id="makho" name="makho" type="text" placeholder="Mã dịch vụ" class="form-control input-md" ng-model="ma_dich_vu">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên dịch vụ: </label>
                                    <div class="col-md-4">
                                        <input id="tenkho" name="tenkho" type="text" placeholder="Tên dịch vụ" class="form-control input-md" ng-model="ten_dich_vu">
                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="ghichu">Note</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="ghichu" name="ghichu" ng-model="ghi_chu">Note</textarea>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="add()" data-dismiss="modal">Add New</button>
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Update Inventory</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã dịch vụ: </label>
                                    <div class="col-md-4">
                                        <input id="makho" name="makho" type="text" placeholder="Mã dịch vụ" class="form-control input-md" ng-model="item.MA_DICH_VU" ng-disabled="true">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên dịch vụ: </label>
                                    <div class="col-md-4">
                                        <input id="tenkho" name="tenkho" type="text" placeholder="Tên dịch vụ" class="form-control input-md" ng-model="item.TEN_DICH_VU">
                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="ghichu">Ghi chú</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="ghichu" name="ghichu" ng-model="item.GHI_CHU">Note</textarea>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="save(item.MA_DICH_VU)" data-dismiss="modal">Save</button>
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Xóa mô hình</legend>
                                <center>Are you sure you want to delete <b>{{item.TEN_DICH_VU}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn btn-danger" ng-click="delete(item.MA_DICH_VU)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn btn-success" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Show Table -->
        <table id="example" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã dịch vụ</th>
                    <th>Tên dịch vụ</th>
                    <th>Ghi chú</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate-start="item in filtered = (listdichvu | filter: {TEN_MO_HINH:searchtext}) | itemsPerPage:3 ">
                    <td>{{ item.MA_DICH_VU }}</td>
                    <td>{{item.TEN_DICH_VU}}</td>
                    <td>{{item.GHI_CHU}}</td>
                    <td class="text-center">
                        <button class="btn btn-success btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-warning btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                        <!--<button class="btn btn-warning btn-circle" ng-click="delete(item.MA_KHO)"><i class="glyphicon glyphicon-remove"></i></button>-->
                    </td>
                </tr>
                <tr ng-if="item.expanded" dir-paginate-end=""></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

