@*<link href="~/Content/assets/css/components.css" rel="stylesheet" />*@

<link href="~/Content/self-writing/css/Kho/common.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Kho/site.css" rel="stylesheet" />
<script src="~/Content/download/pnotify.custom.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/form_bootstrap_select.js"></script>
<script src="~/Content/Scripts/angularjs/controller/DSXuatKhoController.js"></script>
<script src="~/Content/self-writing/js/Service.js"></script>
<div ng-app="app" ng-controller="DSPhieuXuatKhoController">

    <div class="content">
        <div class="phieuthu padding10 borderRadius3 border">
            <div class="head clearfix paddingTB10">
                <div class="pull-left marginR45">
                    <h1 style="color:black;" class="margin0 font20 bold text-blue marginT5">DANH SÁCH PHIẾU XUẤT KHO</h1>
                </div>
                <div class="pull-left marginR30">
                    <div class="pull-left marginR15 marginT5">Từ ngày</div>
                    <div class="pull-left width100 relative">
                        <input type="text" datepicker ng-model="DSXuatKho.From" class="form-control datetimepickerKT">
                    </div>
                </div>
                <div class="pull-left marginR30">
                    <div class="pull-left marginR15 marginT5">Đến ngày</div>
                    <div class="pull-left width100 relative">
                        <input type="text" datepicker ng-model="DSXuatKho.To" class="form-control datetimepickerKT">
                    </div>
                </div>
                <div class="pull-left">
                    <button class="btn btn-primary" ng-click="SearchPhieuXuatKho()">Lấy dữ liệu</button>
                </div>
            </div>
            <br>
            <div class="table-responsive">

                <table class="table table-striped table-hover table-bordered" >

                    <thead class="bg-blue text-white">
                        <tr>
                            <th>Ngày hạch toán</th>
                            <th>Ngày chứng từ</th>
                            <th>Tên công ty</th>
                            <th>Nhân viên bán hàng</th>
                            <th>tổng tiền </th>
                            <th>Lý do xuất</th>
                            <th>Loại xuất kho</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="DSPhieuXuatKho in DSPhieuXuatKho">
                        <tr ng-click="transfer(DSPhieuXuatKho)">
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.NGAY_HACH_TOAN}}</td>
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.NGAY_CHUNG_TU}}</td>
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.TEN_CONG_TY}}</td>
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.NHAN_VIEN_BAN_HANG}}</td>
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.TONG_TIEN}}</td>
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.LY_DO_XUAT}}</td>
                            <td class="text-left" data-toggle="modal" data-target="#updatephieuxuatkho">{{DSPhieuXuatKho.LOAI_XUAT_KHO}}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <!--CHI TIẾT PHIẾU XUẤT KHO-->
    <div class="modal fade" id="updatephieuxuatkho" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" style="width:80%;">
            <div class="modal-content" style="height: 800px;">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-white">
                            <div class="panel-heading color-heading">
                                <h6 class="panel-title">Xuất kho bán hàng</h6>
                            </div>

                            <div class="panel-body">
                                <form class="form-horizontal" style="margin-left: 10px;">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2" style="font-weight:bold; font-size:16px">Phiếu xuất kho</label>
                                        <div class="col-lg-3">

                                            <select name="select" class="form-control" ng-model="item.LOAI_XUAT_KHO" ng-change="ChangeType()"
                                                    data-ng-options="item as item for item in phieuxuatkho"></select>

          
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Thông tin chung<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal">
                                                <div class="form-group" ng-if="item.LOAI_XUAT_KHO == 'Bán hàng'">
                                                    <label class="control-label col-lg-3">Khách hàng</label>
                                                    <div class="col-lg-5">
                                                        <div class="has-feedback showtableselect">
                                                            <input type="text" ng-model="item.KHACH_HANG" class="form-control showtableselect" readonly>
                                                        </div>
                                                        <label id="basic-error" class="validation-error-label" ng-if="ValidateGeneral.KhachHang == false" for="basic">Trường này không được để trống</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" readonly class="form-control" ng-model="item.TEN_CONG_TY">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-3">Người nhận</label>
                                                    <div class="col-lg-9" ng-if="item.LOAI_XUAT_KHO == 'Bán hàng'">
                                                        <input type="text" ng-model="item.NGUOI_NHAN" class="form-control" readonly>
                                                    </div>
                                                    <div class="col-lg-5" ng-if="item.LOAI_XUAT_KHO == 'Sản xuất'">
                                                        <div class="has-feedback">
                                                            <input type="text" ng-model="item.DOI_TUONG" class="form-control showtableselect" readonly>
                                                        </div>

                                                        <label id="basic-error" class="validation-error-label" ng-if="ValidateGeneral.NguoiGiaoHang == false" for="basic">Trường này không được để trống</label>
                                                    </div>
                                                    <div class="col-lg-4" ng-if="item.LOAI_XUAT_KHO == 'Sản xuất'">
                                                        <input type="text" ng-model="item.TEN_DOI_TUONG" class="form-control showtableselect" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-3">Địa chỉ</label>
                                                    <div class="col-lg-9">

                                                        <input type="text" ng-model="item.DIA_CHI" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-3">Lý do xuất</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" ng-model="item.LY_DO_XUAT" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="item.LOAI_XUAT_KHO == 'Bán hàng'">
                                                    <label class="control-label col-lg-3">Nhân viên bán hàng</label>
                                                    <div class="col-lg-3">
                                                        <div class="has-feedback showtableselect">
                                                            <input type="text" ng-model="item.NHAN_VIEN_BAN_HANG" class="form-control showtableselect" readonly>
                                                        </div>
                                                        <label id="basic-error" class="validation-error-label" ng-if="ValidateGeneral.NhanVienBanHang == false" for="basic">Trường này không được để trống</label>
                                                    </div>
                                                    <label class="control-label col-lg-2">Kèm theo</label>
                                                    <div class="col-lg-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <label class="control-label col-lg-2">chứng từ gốc</label>
                                                </div>
                                                <div class="form-group" ng-if="item.LOAI_XUAT_KHO=='Sản xuất'">
                                                    <label class="control-label col-lg-3">Kèm theo</label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <label class="control-label col-lg-2">chứng từ gốc</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-3">Tham chiếu</label>
                                                    <div class="col-lg-8">
                                                        <input type="hidden" value="@Session["USERNAME"]" id="username" />
                                                        <input type="hidden" value="@Session["MA_CONG_TY"]" id="macongty" />

                                                        <div class="bootstrap-tagsinput"><span class="tag label label-info" ng-repeat="item in ThamChieu.ListSelect ">{{item.SO_CHUNG_TU}}<span data-role="remove" ng-click="RemoveThamChieu($index) "></span></span> <input style="border: none !important" type="text"></div>

                                                    </div>
                                                    <div class="col-lg-1">
                                                        <a data-toggle="modal" data-target="#modal_theme_primary"><i class="icon-search4"></i></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Chứng từ<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4">Ngày hạch toán</label>
                                                    <div class="col-lg-8">
                                                        <div class="form-group has-feedback">

                                                            <input type="text" datepicker ng-model="item.NGAY_HACH_TOAN" class="form-control datetimepicker" readonly>

                                                            <div class="form-control-feedback">
                                                                <i class="icon-calendar"></i>
                                                            </div>
                                                        </div>
                                                        <label id="basic-error" class="validation-error-label" ng-if="ValidateGeneral.NgayHachToan == false" for="basic">Trường này không được để trống</label>
                                                        <label id="basic-error" class="validation-error-label" ng-if="ValidateGeneral.NgayHachToanLess == false" for="basic">Ngày hạch toán phải lớn hơn hoặc bằng ngày chứng từ</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4">Ngày chứng từ</label>
                                                    <div class="col-lg-8">
                                                        <div class="form-group has-feedback">
                                                            <input type="text" datepicker ng-model="item.NGAY_CHUNG_TU" class="form-control datetimepicker" readonly>
                                                            <div class="form-control-feedback">
                                                                <i class="icon-calendar"></i>
                                                            </div>
                                                        </div>
                                                        <label id="basic-error" class="validation-error-label" ng-if="ValidateGeneral.NgayChungTu == false" for="basic">Trường này không được để trống</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4">Số chứng từ</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" ng-model="item.SO_CHUNG_TU" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 content-group" style="">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr class="bg-primary-300">
                                                    <th>Mã hàng</th>
                                                    <th>Tên hàng</th>
                                                    <th>Kho</th>
                                                    <th>TK Kho</th>
                                                    <th>TK nợ</th>
                                                    <th>TK có</th>
                                                    <th>ĐVT</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                    <th>Thành tiền</th>
                                                    <th>Đơn giá vốn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in Detail.ListAdd">
                                                    <td>
                                                        <input type="text" ng-model="item.MA_HANG" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.TEN_HANG" class="form-control">
                                                    </td>
                                                    <td>
                                                        <div class="has-feedback">
                                                            <input type="text" ng-model="item.TEN_KHO" class="form-control showtableselect">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="has-feedback">
                                                            <input type="text" ng-model="item.TK_KHO" class="form-control showtableselect">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="has-feedback">
                                                            <input type="text" ng-model="item.TK_NO" class="form-control showtableselect">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="has-feedback">
                                                            <input type="text" ng-model="item.TKCO" class="form-control showtableselect">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.DVT" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" ng-model="item.SO_LUONG" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.DON_GIA_BAN" format="number" class="form-control">
                                                    </td>
                                                    <td>
                                                        {{item.DON_GIA_BAN * item.SO_LUONG | currency:""}}
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.DON_GIA_VON" format="number" class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="11" style="text-align:center; cursor:pointer" ng-click="AddNew()">Bấm vào đây để thêm mới</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary" ng-click="SaveXuatKho()"><i class="icon-floppy-disk"></i> Lưu</button>
                                    <a href="/" class="btn bg-orange-400"><i class="icon-blocked"></i> Bỏ qua</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--END CHI TIẾT PHIẾU XUẤT KHO-->
    <div id="modal_theme_primary" class="modal fade" style="display: none;" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary-300">
                    <h5 class="modal-title" style="font-weight:700">Chọn chứng từ tham chiếu</h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-lg-2">Tìm theo</label>
                            <div class="col-lg-3">
                                <select name="select" class="form-control" ng-change="ChangeLoaiChungTu()" ng-model="LoaiChungTu">
                                    <option value="1">Loại chứng từ</option>
                                    <option value="2">Đối tượng</option>
                                    <option value="3">Số hóa đơn/chứng từ</option>
                                </select>
                                <label id="basic-error" class="validation-error-label" ng-if="Validate.LoaiChungTu == false" for="basic">Trường này không được để trống</label>
                            </div>
                            <label class="control-label col-lg-2">Giá trị</label>
                            <div class="col-lg-5" style="position:relative;z-index:100">
                                <div class="has-feedback" id="Input_DataGiaTriChungTu" style="display:none" ng-click="ShowDataGiaTriChungTu()">
                                    <input type="text" ng-model="GiaTriChungTu.Search" class="form-control showtableselect">
                                    <div class="form-control-feedback">
                                        <i class="icon-arrow-down5"></i>
                                    </div>
                                </div>
                                <select name="select" class="form-control" id="Select_DataGiaTriChungTu" ng-model="GiaTriLoaiChungTu">
                                    <option ng-repeat="item in GiaTriThamChieu" value="{{item.value}}">{{item.show}}</option>
                                </select>

                                <table class="table-hover tableselect" id="DataGiaTriChungTu" style="display:none">
                                    <thead>
                                        <tr>
                                            <th style="width:35%">Mã đối tượng</th>
                                            <th style="width:35%">Tên đối tượng</th>
                                            <th style="width:30%">Địa chỉ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in GiaTriThamChieu | filter:GiaTriChungTu.Search" ng-click="SelectDataGiaTriChungTu(item)">
                                            <td>{{item.madoituong}}</td>
                                            <td>{{item.tendoituong}}</td>
                                            <td>{{item.diachi}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="has-feedback" id="Input_MaChungTu" style="display:none">
                                    <input type="text" ng-model="MaChungTu.Search" class="form-control showtableselect">
                                </div>
                            </div>
                            <label id="basic-error" class="validation-error-label" ng-if="Validate.GiaTriChungTu == false" for="basic">Trường này không được để trống</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">Từ ngày</label>
                            <div class="col-lg-3">
                                <div class="form-group has-feedback">
                                    <input type="text" datepicker ng-model="ThamChieu.From" id="ThamChieuFrom" class="form-control datetimepickerKT">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <label id="basic-error" class="validation-error-label" ng-if="Validate.FromDateThamChieu == false" for="basic">Trường này không được để trống</label>
                                </div>
                            </div>
                            <label class="control-label col-lg-2">Đến ngày</label>
                            <div class="col-lg-3">
                                <div class="form-group has-feedback">
                                    <input type="text" datepicker ng-model="ThamChieu.To" id="ThamChieuTo" class="form-control datetimepickerKT">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <label id="basic-error" class="validation-error-label" ng-if="Validate.ToDateThamChieu == false" for="basic">Trường này không được để trống</label>
                                    <label id="basic-error" class="validation-error-label" ng-if="Validate.ToDateThamChieuLess == false" for="basic">Ngày kết thúc phải lớn hơn ngày bắt đầu</label>
                                </div>
                            </div>
                            <div class="col-lg-2 text-right">
                                <button class="btn bg-primary-300" type="button" ng-disabled="CheckSearchThamChieu()" ng-click="SearchThamChieu()">Lấy dữ liệu</button>
                            </div>
                        </div>
                        <div class="col-md-12 content-group" style="">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover ">
                                    <thead>
                                        <tr class="bg-primary-300">
                                            <th style="width:10px;"></th>
                                            <th>Ngày hạch toán</th>
                                            <th>Ngày chứng từ</th>
                                            <th>Số chứng từ</th>
                                            <th>Diễn giải</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-cloak dir-paginate="item in ThamChieu.ListResult | itemsPerPage: 5"
                                            pagination-id="ThamChieu" current-page="currentPage">
                                            <td><div class="checker border-primary-600 text-primary-800" ng-click="SelectThamChieu(item,$index)"><span ng-class="item.Action?'checked':''"><input type="checkbox" class="control-primary" checked="checked"></span></div></td>
                                            <td>
                                                {{item.NGAY_HACH_TOAN}}
                                            </td>
                                            <td>{{item.NGAY_CHUNG_TU}}</td>
                                            <td>{{item.SO_CHUNG_TU}}</td>
                                            <td>{{item.DIEN_GIAI}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls pagination-id="ThamChieu"
                                                         class="pull-right"></dir-pagination-controls>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" ng-click="SetThamChieu()"><i class="icon-checkbox-checked"></i> Đồng ý</button>
                    <button type="button" class="btn bg-orange-400" data-dismiss="modal"><i class="icon-blocked"></i> Bỏ qua</button>
                </div>
            </div>
        </div>
    </div>


</div>
<style>
    .bg-blue {
        background-color: #5BC0DE !important;
    }

    .bootstrap-tagsinput {


    border: 1px solid #00BFFF !important;
    border-radius: 5px !important;
}

</style>