
@{
    ViewBag.Title = "Index";
    Layout= "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/self-writing/css/BangLuong.css" rel="stylesheet" />

<div class="panel-heading"><b>Bảng lương của @Session["HO_VA_TEN"]</b></div>
<br />
<div class="content" ng-app="myApp" ng-controller="bangluongCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    
                    <input type="hidden" value="@Session["USERNAME"]" id="username"/>
                </h4>
                <center class="message">
                    <p>Công ty xin gửi bảng lương đến bạn @Session["HO_VA_TEN"] với các thông tin như bên dưới</p>
                    <p>Cảm ơn bạn đã vất vả làm việc trong tháng vừa qua, rất mong bạn sẽ cùng công ty cố gắng hơn nữa</p>
                    <p>Mọi vấn đề thắc mắc về bảng lương, bạn hãy phản hồi lại với công ty theo địa chỉ email <span>lhn@hoplongtech.com.vn</span></p>
                </center>
            </div>
            <div class="maintable">
                <table class="table table-fixed" border="1">
                    <thead>
                        <tr>
                            <th rowspan="2" class="fix">THÁNG</th>
                            <th rowspan="2" class="fix">HỌ VÀ TÊN</th>
                            <th rowspan="2" class="fix">LƯƠNG CƠ BẢN</th>
                            <th rowspan="2" class="fix">LƯƠNG BẢO HIỂM</th>
                            <th colspan="4">PHỤ CẤP</th>
                            <th rowspan="2" class="fix">CÔNG CƠ BẢN </th>
                            <th colspan="2">LƯƠNG CƠ BẢN</th>
                            <th colspan="2">BẢO HIỂM</th>
                            <th colspan="2">LƯƠNG THỰC TẾ</th>
                            <th colspan="6">LƯƠNG LÀM THÊM</th>
                            <th rowspan="2" class="fix">TỔNG THU NHẬP</th>
                            <th rowspan="2" class="fix">TẠM ỨNG</th>
                            <th rowspan="2" class="fix">VAY TÍN DỤNG</th>
                            <th colspan="2">PHẠT ĐI TRỄ</th>
                            <th rowspan="2" class="fix">QUỸ CÔNG ĐOÀN</th>
                            <th rowspan="2" class="fix">LƯƠNG LAO CÔNG</th>
                            <th rowspan="2" class="fix">THỰC LĨNH</th>
                        </tr>
                        <tr style="background:#0099FF ; color:#FFEEF1; font-weight bold">
                            <th>Ăn trưa</th>
                            <th>Đi lại/điện thoại</th>
                            <th>Thưởng doanh số</th>
                            <th>Trách nhiệm</th>
                            <th>Ngày</th>
                            <th>Giờ</th>
                            <th>Công ty đóng</th>
                            <th>Nhân viên đóng</th>
                            <th>Công đi làm thực</th>
                            <th>Số tiền</th>
                            <th>Công ngày thường</th>
                            <th>Số tiền</th>
                            <th>Công ngày nghỉ</th>
                            <th>Số tiền</th>
                            <th>Công ngày lễ</th>
                            <th>Số tiền</th>
                            <th>Số giờ</th>
                            <th>Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list_bangluong">
                            <td>{{item.THANG_LUONG}}</td>
                            <td>@Session["HO_VA_TEN"]</td>
                            <td>{{item.LUONG_CO_BAN}}</td>
                            <td>{{item.LUONG_BAO_HIEM}}</td>
                            <td>{{item.PHU_CAP_AN_TRUA}}</td>
                            <td>{{item.PHU_CAP_DI_LAI_DIEN_THOAI}}</td>
                            <td>{{item.PHU_CAP_THUONG_DOANH_SO}}</td>
                            <td>{{item.PHU_CAP_TRACH_NHIEM}}</td>
                            <td>{{item.CONG_CO_BAN}}</td>
                            <td>{{item.LUONG_CO_BAN_NGAY}}</td>
                            <td>{{item.LUONG_CO_BAN_GIO}}</td>
                            <td>{{item.BAO_HIEM_CONG_TY_DONG}}</td>
                            <td>{{item.BAO_HIEM_NHAN_VIEN_DONG}}</td>
                            <td>{{item.LUONG_THUC_TE_CONG_LAM_THUC}}</td>
                            <td>{{item.LUONG_THUC_TE_SO_TIEN}}</td>
                            <td>{{item.LUONG_LAM_THEM_CONG_NGAY_THUONG}}</td>
                            <td>{{item.LUONG_LAM_THEM_TIEN_CONG_NGAY_THUONG}}</td>
                            <td>{{item.LUONG_LAM_THEM_CONG_NGAY_NGHI}}</td>
                            <td>{{item.LUONG_LAM_THEM_TIEN_CONG_NGAY_NGHI}}</td>
                            <td>{{item.LUONG_LAM_THEM_CONG_NGAY_LE}}</td>
                            <td>{{item.LUONG_LAM_THEM_TIEN_CONG_NGAY_LE}}</td>
                            <td>{{item.TONG_THU_NHAP}}</td>
                            <td>{{item.TAM_UNG}}</td>
                            <td>{{item.VAY_TIN_DUNG}}</td>
                            <td>{{item.GIO_DI_TRE}}</td>
                            <td>{{item.PHAT_DI_TRE}}</td>
                            <td>{{item.CONG_DOAN}}</td>
                            <td>{{item.LUONG_LAO_CONG}}</td>
                            <td>{{item.THUC_LINH}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>