
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/self-writing/css/ThamChieuChungTu.css" rel="stylesheet" />
<div ng-app="myApp" ng-controller="thamchieuchungtuCtrl">
    <div class="content">

        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" class="form-control" placeholder="Type Inventory Name You Want To Search Here" ng-model="searchtext" style="width:  60%">
                </div>

            </form>

        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New Chứng từ tham chiếu</button>

        <!-- Modal Add New-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New Inventory</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Maker Code: </label>
                                    <div class="col-md-9">
                                        <select ng-model="so_chung_tu_goc" class="form-control input-md">
                                            <option ng-repeat="abc in listchungtu" value="{{abc.MA_CHUNG_TU}}">{{abc.MA_CHUNG_TU}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Maker Code: </label>
                                    <div class="col-md-9">
                                        <select ng-model="so_chung_tu_tham_chieu" class="form-control input-md">
                                            <option ng-repeat="abc in listchungtu" value="{{abc.MA_CHUNG_TU}}">{{abc.MA_CHUNG_TU}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="add()" data-dismiss="modal">Add New</button>
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Update Inventory</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Maker Code: </label>
                                    <div class="col-md-9">
                                        <select ng-model="item.SO_CHUNG_TU_GOC" class="form-control input-md">
                                            <option ng-repeat="abc in listchungtu" value="{{abc.MA_CHUNG_TU}}">{{abc.MA_CHUNG_TU}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Maker Code: </label>
                                    <div class="col-md-9">
                                        <select ng-model="item.SO_CHUNG_TU_THAM_CHIEU" class="form-control input-md">
                                            <option ng-repeat="abc in listchungtu" value="{{abc.MA_CHUNG_TU}}">{{abc.MA_CHUNG_TU}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="save(item.ID)" data-dismiss="modal">Save</button>
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Xóa mô hình</legend>
                                <center>Are you sure you want to delete <b>{{item.SO_CHUNG_TU_GOC}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn btn-danger" ng-click="delete(item.ID)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn btn-success" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Show Table -->
        <table id="example" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Số chứng từ gốc</th>
                    <th>Số chứng từ tham chiếu</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate-start="item in filtered = (listthamchieu | filter: {TEN_MO_HINH:searchtext}) | itemsPerPage:3 ">
                    <td>{{ item.SO_CHUNG_TU_GOC }}</td>
                    <td>{{item.SO_CHUNG_TU_THAM_CHIEU}}</td>
                    <td class="text-center">
                        <button class="btn btn-success btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-warning btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                        <!--<button class="btn btn-warning btn-circle" ng-click="delete(item.MA_KHO)"><i class="glyphicon glyphicon-remove"></i></button>-->
                    </td>
                </tr>
                <tr ng-if="item.expanded" dir-paginate-end=""></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


