
@{
    ViewBag.Title = "Index";
}
<style>
    .hienthi{
        display: block !important;
    }

    .bienmat{
        display: none !important;
    }
    .content{
        margin-top: 20px;
    }
    .btn-success{
        border: none;
        border-radius: 5%
    }
    .fa{
        margin-right: 5px;
    }
    .listmenu{
        border: 1px solid #ddd;
    }
    .listmenu li{
        list-style-type: none;    
    }
    .listmenu ul{
        padding-left: 0px;
        width: auto;
        height: 40px;
    }
    .list ul{
        padding-left: 0px;
        width: 100%;
        height: 40px;
    }
    .listmenu li input{
        display: inline-block;
        float: left;
        margin-right: 5px;
    }
    .listmenu li input span{
        display: inline-block;
        float: left;
    }
</style>
<input type="hidden" value="@Session["MA_PHONG_BAN"]" id="maphongban"/>
<input type="hidden" value="@Session["USERNAME"]" id="username"/>
<div ng-app="myApp" ng-controller="menuCtrl" class="content">
    <div class="col-md-3 list">
        <ul  ng-repeat="menu in danhsachmenu" ng-class="get(menu.USERNAME)">
            <li ng-class="check(menu.TRANG_THAI)"><a href="{{menu.LINK}}">{{menu.TEN_MENU}}</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn-success" onclick="change()"><i class="fa fa-cogs" aria-hidden="true"></i>Tùy chỉnh</button>
    </div>
    <div class="col-md-2 listmenu" style="display : none">
        <div class="col-md-12" >
            <ul ng-repeat="item in danhsachmenu" ng-class="get(item.USERNAME)">
                <li><input type="checkbox" ng-checked="item.TRANG_THAI==true" ng-model="item.TRANG_THAI" ng-click="click(item.MA_MENU,item)"><span>{{item.TEN_MENU}}</span></li>
            </ul>
        </div>
        <button type="button" onclick="accept()" class="btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu tùy chỉnh</button>
    </div>
</div>
