@model IEnumerable<ERP.Web.Models.Database.KH>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/self-writing/css/KhachHang.css" rel="stylesheet" />
@*<script src="~/Content/self-writing/js/Services/KhachHangServices.js"></script>
@*<script src="~/Content/self-writing/js/Controllers/KhachHangCtrl.js"></script>*@
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="~/Content/self-writing/pagination.js"></script>


<style>
    #myModal .col-md-12 {
        margin: 10px 0px;
    }
    #taikhoan td{
        padding: 0px !important;
    }
    #lienhe td{
        padding: 0px !important;
        padding-bottom: 10px !important;
    }
    .thongtinchung input{
        font-size: 12px;
    }
</style>
<div ng-app="myApp" ng-controller="khachhangCtrl">
    <input type="button" onclick="location.href='/KinhDoanh/Donhangdukien';" value="Đơn hàng dự kiến" />

    <div class="content">
        <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />

        <!--Form tìm kiếm-->
        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Type Customer Name You Want To Search Here" ng-model="search_text">
                    <input type="button" class="btn btn-info" ng-keydown="load_khachhang(search_text)" ng-click="load_khachhang(search_text)" value="Tìm kiếm khách" />
                </div>
            </form>
        </div>
        <!--End Form tìm kiếm-->

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Thêm khách mới</button>
        <input type="button" class="btn btn-info" onclick="location.href='/ChuyenSale/Index';" value="Chuyển Sale" />
        <input type="button" class="btn btn-info" onclick="location.href = '/KhachHang/TimKiem_KhachHang';" value="Tìm kiếm khách trên toàn hệ thống" />
        <input type="button" class="btn btn-info" onclick="location.href = '/KhachHang/KhachChuaGiaoDich';" value="Danh sách khách chưa có giao dịch" />

        <!-- Modal Add New khách hàng -->
        <div class="modal fade" id="myModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content" style="height: 100%">

                    <div class="modal-body">
                        <form class="form-horizontal" action="/KhachHang/Index" method="post">

                            <p style="font-size: x-large; color: blue; font-weight: 700">Thông tin chung</p>
                            <div class="col-md-6 thongtinchung">
                                <div class="col-md-12">                                  
                                    <div ng-controller="imgCtrl" class="col-md-8">
                                        <div class="col-md-6">
                                            @Html.AntiForgeryToken()
                                            <input type='file' name="files" id="imgInp" style="width: 45%;display: inline-block" />
                                            <input type="submit" value="Upload Ảnh" style="width: 45%;display: inline-block;float: right" />
                                        </div>
                                        <div class="col-md-6">
                                            <img id="blah" src="#" height="89" width="150" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <input type="text" id="addtencongty" placeholder="Tên công ty" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.ten_cong_ty">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <input type="text" placeholder="Văn phòng giao dịch" id="addvpgiaodich" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.van_phong_giao_dich">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <input type="text"  placeholder="Địa chỉ xuất hóa đơn" id="adddiachixuathoadon" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.dia_chi_xuat_hoa_don">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-4">
                                        <input type="text"  placeholder="Mã số thuế" id="addmasothue" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.ma_so_thue">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" placeholder="Website" id="addwebsite" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.website">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="tel"  placeholder="Số điện thoại" id="addsomayban" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.hotline">
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-6 thongtinchung">                               
                                <div class="col-md-12">
                                    <label class="col-sm-3 control-label">Phân loại khách hàng</label>
                                    <div class="col-sm-6" style="padding-top: 5px">
                                        <select ng-model="ma_loai_khach" class="input-md" style="height: 27px;padding-left: 5px;">
                                            <option ng-repeat="phanloai in list_phanloai" value="{{phanloai.MA_LOAI_KHACH}}">{{phanloai.TEN_LOAI_KHACH}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-9">
                                        <input type="text" placeholder="Nhóm ngành" style="width: 100%;height: 27px;padding-left: 5px;" id="addvpgiaodich" ng-model="nhom_nganh">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="col-sm-3 control-label">Tình trạng hoạt động</label>
                                    <div class="col-sm-6" style="padding-top: 5px">
                                        <select ng-model="arraythongtin.tinh_trang_hoat_dong" style="height: 27px;padding-left: 5px;width:100%" data-ng-options="item as item for item in tinhtranghoatdong"></select>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <div class="col-sm-3">
                                        <input type="text"  placeholder="Fax" id="addfax" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.fax">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text"  placeholder="Tỉnh" id="addfax" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.tinh">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text"  placeholder="Quốc gia" id="addfax" style="width: 100%;height: 27px;padding-left: 5px;" ng-model="arraythongtin.quoc_gia">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="col-sm-3 control-label">Điều khoản thanh toán</label>
                                    <div class="col-sm-6" style="padding-top: 5px">
                                        <select ng-model="arraythongtin.dieu_khoan_thanh_toan" id="adddieukhoanthanhtoan" style="height: 27px;padding-left: 5px;width:100%" data-ng-options="item as item for item in dieukhoantt"></select>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <div class="col-sm-3">
                                        <input type="number"  placeholder="Số ngày được nợ" id="addsongayduocno" ng-model="arraythongtin.so_ngay_duoc_no" style="height: 27px;padding-left: 5px;">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="number"  placeholder="Số nợ tối đa" id="addsonotoida" ng-model="arraythongtin.so_no_toi_da" style="height: 27px;padding-left: 5px;">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text"  placeholder="Email" id="addemail" ng-model="arraythongtin.email" style="height: 27px;padding-left: 5px;">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-12">

                                    <div class="col-md-1">
                                        <label class="col-md-12">Ghi chú</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea id="themghichu" name="themghichu" placeholder="Ghi chú" class="form-control input-md" ng-model="arraythongtin.ghi_chu"></textarea>

                                    </div>
                                </div>
                                <script>
                                    CKEDITOR.replace('themghichu', {
                                        height: 150
                                    });

                                </script>
                            </div>










                            <p class="col-md-3" style="font-size: 20px; color: blue; font-weight: 700">Tài khoản khách hàng</p>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table class="table" id="taikhoan">
                                        <thead class="table-header-popup" style="background-color: #d7f1f9">
                                            <tr>
                                                <th style="text-align: center; height: 27px;padding-left: 5px;">Số tài khoản</th>
                                                <th style="text-align: center; height: 27px;padding-left: 5px;">Tên tài khoản</th>
                                                <th style="text-align: center; height: 27px;padding-left: 5px;">Tên ngân hàng</th>
                                                <th style="text-align: center; height: 27px;padding-left: 5px;">Chi nhánh</th>
                                                <th style="text-align: center; height: 27px;padding-left: 5px;">Tỉnh thành phố</th>
                                                <th style="text-align: center; height: 27px;padding-left: 5px;">Loại tài khoản</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="i in range(0,2)">
                                                <td><input type="text" class="form-control" style="height: 27px;padding-left: 5px;" ng-model="arraytaikhoan[$index].so_tai_khoan"></td>
                                                <td><input type="text" class="form-control" style="height: 27px;padding-left: 5px;"  ng-model="arraytaikhoan[$index].ten_tai_khoan"></td>
                                                <td><input type="text" class="form-control" style="height: 27px;padding-left: 5px;"  ng-model="arraytaikhoan[$index].ten_ngan_hang"></td>
                                                <td><input type="text" class="form-control" style="height: 27px;padding-left: 5px;"  ng-model="arraytaikhoan[$index].chi_nhanh"></td>
                                                <td><input type="text" class="form-control" style="height: 27px;padding-left: 5px;"  ng-model="arraytaikhoan[$index].tinh_tp"></td>
                                                <td>
                                                    <select ng-model="arraytaikhoan[$index].loai_tai_khoan" class="form-control input-md" style="height: 27px;padding-left: 5px;">
                                                        <option ng-repeat="loaitaikhoan in list_loaitaikhoan" value="{{loaitaikhoan.MA_LOAI}}">{{loaitaikhoan.TEN_LOAI}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>






                        
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table class="table" id="lienhe">
                                        <thead class="table-header-popup" style="background-color: #d7f1f9">
                                            <tr>
                                                <th style="text-align: center">Người liên hệ</th>
                                                <th style="text-align: center">Chức vụ</th>
                                                <th style="text-align: center">Phòng ban</th>
                                                <th style="text-align: center">Ngày sinh</th>
                                                <th style="text-align: center">Giới tính</th>
                                                <th style="text-align: center">SĐT</th>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center">Skype</th>
                                                <th style="text-align: center">Facebook</th>
                                                <th style="text-align: center">Sale phụ trách</th>
                                                <th style="text-align: center">Tình trạng làm việc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="i in range(0,2)">
                                                <td><input style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].nguoi_lien_he"></td>
                                                <td><input style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].chuc_vu"></td>
                                                <td><input  style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].phong_ban"></td>
                                                <td>
                                                    <input style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].ngay_sinh">
                                                </td>
                                                <td>
                                                    <input style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].gioi_tinh">
                                                </td>
                                                <td>
                                                    <input type="tel"  ng-model="arraylienhe[$index].so_dien_thoai1" style="width: 100%; height: 27px;padding-left: 5px;" placeholder="Số điện thoại 1">
                                                    <input type="tel"  ng-model="arraylienhe[$index].so_dien_thoai2" style="width: 100%; height: 27px;padding-left: 5px;" placeholder="Số điện thoại 2">
                                                </td>
                                                <td>
                                                    <input type="text"  ng-model="arraylienhe[$index].email_ca_nhan" style="width: 100%;height: 27px;padding-left: 5px;" placeholder="Email cá nhân">
                                                    <input type="text"  ng-model="arraylienhe[$index].email_cong_ty" style="width: 100%;height: 27px;padding-left: 5px;" placeholder="Email công ty">
                                                </td>
                                                <td><input style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].skype"></td>
                                                <td><input style="height:44px" type="text" class="form-control" ng-model="arraylienhe[$index].facebook"></td>
                                                <td>
                                                    <md-input-container>
                                                        <md-select ng-model="arraylienhe[$index].sales_phu_trach">
                                                            <md-option><em>None</em></md-option>
                                                            <md-option ng-repeat="state in list_nhanvienkd" ng-value="state.USERNAME">
                                                                {{state.HO_VA_TEN}}
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </td>
                                                <td>
                                                    <select ng-model="arraylienhe[$index].tinh_trang_lam_viec" id="adddieukhoanthanhtoan" style="height: 27px;padding-left: 5px;width:100%" data-ng-options="item as item for item in tinh_trang"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-6">
                            <button id="save" name="save" class="btn" data-dismiss="modal" ng-click="createnew()">Add New</button>
                            <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update khách hàng-->
        <div class="modal fade" id="myEdit" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content" style="height: 100%">

                    <div class="modal-body">
                        <form class="form-horizontal" action="/KhachHang/Index" method="post">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="addmakhachhang" class="col-sm-2 control-label">Mã khách hàng</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" disabled="disabled" id="addmakhachhang" ng-model="kh.MA_KHACH_HANG">
                                    </div>
                                    <div ng-controller="imgCtrl" class="col-md-8">
                                        <div class="col-md-6">
                                            @Html.AntiForgeryToken()
                                            <input type='file' name="files" id="imgEdit" style="width: 25%;display: inline-block" />
                                            <input type="submit" value="Upload Ảnh" style="width: 25%;display: inline-block;float: right" />
                                        </div>
                                        <div class="col-md-6">
                                            <img id="edit_img" src="#" height="100" width="150" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="addtencongty" class="col-sm-2 control-label">Tên công ty</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="addtencongty" ng-model="kh.TEN_CONG_TY">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Phân loại khách hàng</label>
                                    <div class="col-sm-10">
                                        <div class="container">
                                            <label class="radio-inline" ng-repeat="phanloai in list_phanloai">
                                                <input type="radio" name="optradio" ng-value="phanloai.MA_LOAI_KHACH" ng-model="kh.MA_LOAI_KHACH">{{phanloai.TEN_LOAI_KHACH}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="addvpgiaodich" class="col-sm-2 control-label">Văn phòng giao dịch</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="addvpgiaodich" ng-model="kh.VAN_PHONG_GIAO_DICH">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="adddiachixuathoadon" class="col-sm-2 control-label">Địa chỉ xuất hóa đơn</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="adddiachixuathoadon" ng-model="kh.DIA_CHI_XUAT_HOA_DON">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Tình trạng hoạt động</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" ng-model="kh.TINH_TRANG_HOAT_DONG" style="width: 100%;" data-ng-options="item as item for item in tinhtranghoatdong"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="addmasothue" class="col-sm-2 control-label">Mã số thuế</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="addmasothue" ng-model="kh.MST">
                                    </div>
                                    <label for="addwebsite" class="col-sm-1 control-label">Website</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="addwebsite" ng-model="kh.WEBSITE">
                                    </div>
                                    <label for="addsomayban" class="col-sm-1 control-label">Số máy bàn</label>
                                    <div class="col-sm-2">
                                        <input type="tel" class="form-control" id="addsomayban" ng-model="kh.HOTLINE">
                                    </div>
                                    <label for="addfax" class="col-sm-1 control-label">Fax</label>
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control" id="addfax" ng-model="kh.FAX">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Điều khoản thanh toán</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" ng-model="kh.DIEU_KHOAN_THANH_TOAN" id="adddieukhoanthanhtoan" style="width: 100%;" data-ng-options="item as item for item in dieukhoantt"></select>
                                    </div>
                                    <label for="addsongayduocno" class="col-sm-2 control-label">Số ngày được nợ</label>
                                    <div class="col-sm-1">
                                        <input type="number" class="form-control" id="addsongayduocno" ng-model="kh.SO_NGAY_DUOC_NO">
                                    </div>
                                    <label for="addsonotoida" class="col-sm-1 control-label">Số nợ tối đa</label>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control" id="addsonotoida" ng-model="kh.SO_NO_TOI_DA">
                                    </div>
                                    <label for="addemail" class="col-sm-1 control-label">Email</label>
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control" id="addemail" ng-model="kh.EMAIL">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <label class="col-md-12">Ghi chú</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea id="editghichu" name="editghichu" class="form-control input-md" ng-model="kh.GHI_CHU"></textarea>
                                    </div>
                                </div>
                                <script>
                                    CKEDITOR.replace('editghichu', {
                                        height: 150
                                    });
                                </script>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="save" name="save" class="btn" data-dismiss="modal" ng-click="save(kh.MA_KHACH_HANG,kh.ID)">Save</button>
                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal chi tiet lien he -->
        <div class="modal fade" id="chitietlienhe" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width:80%;">
                <div class="modal-content" style="height: 600px;">
                    <div class="modal-body">
                        <div class="col-md-12" style="box-shadow: 3px 3px 3px #ddd">
                            <div class="col-md-6">
                                <table class="table noborder">
                                    <tr>
                                        <td>Tên công ty</td>
                                        <td>{{lienhe.TEN_CONG_TY}}</td>
                                    </tr>
                                    <tr>
                                        <td>Người liên hệ</td>
                                        <td>{{lienhe.NGUOI_LIEN_HE}}</td>
                                    </tr>
                                    <tr>
                                        <td>Chức vụ</td>
                                        <td>{{lienhe.CHUC_VU}}</td>
                                    </tr>
                                    <tr>
                                        <td>Phòng ban</td>
                                        <td>{{lienhe.PHONG_BAN}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày sinh:</td>
                                        <td>{{lienhe.NGAY_SINH}}</td>
                                    </tr>

                                    <tr>
                                        <td>Email cá nhân:</td>
                                        <td>{{lienhe.EMAIL_CA_NHAN}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email công ty:</td>
                                        <td>{{lienhe.EMAIL_CONG_TY}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tình trạng làm việc</td>
                                        <td>{{lienhe.TINH_TRANG_LAM_VIEC}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table noborder">
                                    <tr>
                                        <td>Giới tính:</td>
                                        <td>{{lienhe.GIOI_TINH}}</td>
                                    </tr>
                                    <tr>
                                        <td>Skype</td>
                                        <td>{{lienhe.SKYPE}}</td>
                                    </tr>
                                    <tr>
                                        <td>Facebook</td>
                                        <td>{{lienhe.FACEBOOK}}</td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại 1:</td>
                                        <td>{{lienhe.SDT1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại 2:</td>
                                        <td>{{lienhe.SDT2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sales phụ trách</td>
                                        <td>{{lienhe.HO_VA_TEN}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ghi chú</td>
                                        <td>{{lienhe.GHI_CHU}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#myEditLienHe" ng-click="EditLienHe(lienhe)" class="btn btn-default">Sửa</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal Update lien he-->
        <div class="modal fade" id="myEditLienHe" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content" style="height: 100%">

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addmakhachhang" class="col-sm-2 control-label">ID Liên hệ</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" disabled="disabled" id="addmakhachhang" ng-model="editlh.ID_LIEN_HE">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addtencongty" class="col-sm-2 control-label">Mã khách hàng</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" disabled="disabled" id="addtencongty" ng-model="editlh.MA_KHACH_HANG">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addtencongty" class="col-sm-2 control-label">Người liên hệ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addtencongty" ng-model="editlh.NGUOI_LIEN_HE">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addvpgiaodich" class="col-sm-2 control-label">Chức vụ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addvpgiaodich" ng-model="editlh.CHUC_VU">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adddiachixuathoadon" class="col-sm-2 control-label">Phòng ban</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="adddiachixuathoadon" ng-model="editlh.PHONG_BAN">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addmasothue" class="col-sm-2 control-label">Ngày sinh</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="editlh.NGAY_SINH">
                            </div>
                            <label for="addwebsite" class="col-sm-1 control-label">Giới tính</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addwebsite" ng-model="editlh.GIOI_TINH">
                            </div>
                            <label for="addsomayban" class="col-sm-1 control-label">Email cá nhân</label>
                            <div class="col-sm-2">
                                <input type="tel" class="form-control" disabled="disabled" id="addsomayban" ng-model="editlh.EMAIL_CA_NHAN">
                            </div>
                            <label for="addemail" class="col-sm-1 control-label">Số điện thoại 1</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" disabled="disabled" id="addemail" ng-model="editlh.SDT1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addsongayduocno" class="col-sm-2 control-label">Skype</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addsongayduocno" ng-model="editlh.SKYPE">
                            </div>
                            <label for="addsonotoida" class="col-sm-1 control-label">Facebook</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addsonotoida" ng-model="editlh.FACEBOOK">
                            </div>
                            <label for="addfax" class="col-sm-1 control-label">Email công ty</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addfax" ng-model="editlh.EMAIL_CONG_TY">
                            </div>
                            <label for="addemail" class="col-sm-1 control-label">Số điện thoại 2</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="addemail" ng-model="editlh.SDT2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sales phụ trách</label>
                            <div class="col-sm-2">
                                <select ng-model="editlh.SALES_PHU_TRACH" class="form-control input-md">
                                    <option ng-repeat="abc in list_nhanvienkd" value="{{abc.USERNAME}}">{{abc.HO_VA_TEN}}</option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Tình trạng làm việc</label>
                            <div class="col-md-4">
                                <select ng-model="editlh.TINH_TRANG_LAM_VIEC" style="height: 27px;padding-left: 5px;width:100%" data-ng-options="item as item for item in tinh_trang"></select>
                            </div>
                           

                            <label class="col-sm-1 control-label">Sale còn phụ trách? </label>

                            <div class="col-sm-1">
                                <input type="checkbox" id="addemail" ng-model="editlh.TRANG_THAI">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addmasothue" class="col-sm-2 control-label">Ngày kết thúc phụ trách</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="editlh.NGAY_KET_THUC_PHU_TRACH">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addghichu" class="col-sm-2 control-label">Ghi chú</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="addghichu" ng-model="editlh.GHI_CHU"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="save" name="save" class="btn" data-dismiss="modal" ng-click="savelienhe(editlh.ID_LIEN_HE)">Save</button>
                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal chi tiet khach hang -->
        <div class="modal fade chitietkhachhang" id="chitietkhachhang" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width:80%;">
                <div class="modal-content" style="height: 100%;">

                    <div class="modal-body">
                        <div class="col-md-3">
                            <img ng-src="~/Content/Images/KhachHang/{{item.LOGO}}" style="width: 90%;height: 250px;" />
                        </div>
                        <div class="col-md-9">
                            <div style="margin-bottom: 5%;" class="col-md-12">
                                <h1>{{item.TEN_CONG_TY | uppercase}}</h1>
                                <div class="col-md-3 detail">Mã khách hàng: <span id="MA_KHach_HANG">{{item.MA_KHACH_HANG}}</span></div>
                                <div class="col-md-2 detail">Tỉnh: {{item.TINH}}</div>
                                <div class="col-md-2 detail">Quốc gia: {{item.QUOC_GIA}}</div>
                                <div class="col-md-9">Tình trạng hoạt động: {{item.TINH_TRANG_HOAT_DONG}}</div>
                            </div>
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#chitiet">Thông tin chi tiết</a></li>
                                    <li><a data-toggle="tab" href="#lienhekhachhang">Liên hệ</a></li>
                                    <li><a data-toggle="tab" href="#taikhoankhachhang">Tài khoản</a></li>
                                    <li><a data-toggle="tab" href="#phanhoikhachhang">Phản hồi khách hàng</a></li>
                                    <li><a data-toggle="tab" href="#thongkemuahang">Thống kê mua hàng</a></li>
                                </ul>
                                <div class="tab-content">
                                    <!--Tab chi tiết hàng hóa-->
                                    <div id="chitiet" class="tab-pane fade in active">
                                        <div class="col-md-12" style="box-shadow: 3px 3px 3px #ddd">
                                            <div class="col-md-6">
                                                <table class="table noborder">
                                                    <tr>
                                                        <td>Văn phòng giao dịch</td>
                                                        <td>{{item.VAN_PHONG_GIAO_DICH}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Địa chỉ xuất hóa đơn:</td>
                                                        <td>{{item.DIA_CHI_XUAT_HOA_DON}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mã số thuế:</td>
                                                        <td>{{item.MST}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Điện thoại:</td>
                                                        <td>{{item.HOTLINE}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email:</td>
                                                        <td>{{item.EMAIL}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fax:</td>
                                                        <td>{{item.FAX}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table noborder">
                                                    <tr>
                                                        <td>Website</td>
                                                        <td>{{item.WEBSITE}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Điều khoản thanh toán</td>
                                                        <td>{{item.DIEU_KHOAN_THANH_TOAN}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số ngày được nợ</td>
                                                        <td>{{item.SO_NGAY_DUOC_NO}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số nợ tối đa</td>
                                                        <td>{{item.SO_NO_TOI_DA}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ghi chú</td>
                                                        <td ng-bind-html="item.GHI_CHU | unsafe" class="{{item.MA_KHACH_HANG}}-1"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#myEdit" ng-click="edit(item)" class="btn btn-default">Sửa</button>
                                    </div>
                                    <div id="lienhekhachhang" class="tab-pane fade">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead class="table-header-popup">
                                                    <tr>
                                                        <th style="text-align: center">Người liên hệ</th>
                                                        <th style="text-align: center">Chức vụ</th>
                                                        <th style="text-align: center">Email</th>
                                                        <th style="text-align: center">SĐT</th>
                                                        <th style="text-align: center">Skype</th>
                                                        <th style="text-align: center">Sale phụ trách</th>
                                                        <th style="text-align: center">Loại sales</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="lienhe in list_lienhe" ng-click="details(lienhe)" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe">{{lienhe.NGUOI_LIEN_HE}}</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe">{{lienhe.CHUC_VU}}</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe">{{lienhe.EMAIL_CONG_TY}}</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe">{{lienhe.SDT1}}</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe">{{lienhe.SKYPE}}</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe">{{lienhe.HO_VA_TEN}}</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe" ng-if="lienhe.SALES_MOI == true">Sales mới</td>
                                                        <td data-dismiss="modal" data-toggle="modal" data-target="#chitietlienhe" ng-if="lienhe.SALES_CU == true">Sales cũ</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>
                                                            <button type="button" ng-click="trasnfer(item)" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#newlienhe">Thêm mới</button>
                                                        </td>
                                                    </tr>                                                   
                                                </tfoot>
                                            </table>                                           
                                        </div>                                     
                                    </div>
                                    <div id="taikhoankhachhang" class="tab-pane fade">
                                        <table class="table">
                                            <thead class="table-header-popup">
                                                <tr>
                                                    <th style="text-align: center">Số tài khoản</th>
                                                    <th style="text-align: center">Tên tài khoản</th>
                                                    <th style="text-align: center">Tên ngân hàng</th>
                                                    <th style="text-align: center">Chi nhánh</th>
                                                    <th style="text-align: center">Tỉnh/Thành phố</th>
                                                    <th style="text-align: center">Ghi chú</th>
                                                    <th style="text-align: center">Loại tài khoản</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="taikhoan in list_taikhoankh" ng-click="details(taikhoan)" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                                                    <td>{{taikhoan.SO_TAI_KHOAN}}</td>
                                                    <td>{{taikhoan.TEN_TAI_KHOAN}}</td>
                                                    <td>{{taikhoan.TEN_NGAN_HANG}}</td>
                                                    <td>{{taikhoan.CHI_NHANH}}</td>
                                                    <td>{{taikhoan.TINH_TP}}</td>
                                                    <td>{{taikhoan.GHI_CHU}}</td>
                                                    <td>{{taikhoan.TEN_LOAI}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" ng-click="transfer(item)" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#newtaikhoan">Thêm mới</button>
                                    </div>
                                    <div id="phanhoikhachhang" class="tab-pane fade">
                                        <table class="table" ng-repeat="khachphanhoi in list_phanhoi">
                                            <tr>
                                                <td style="width: 10%;border: 1px solid black">{{khachphanhoi.NGAY_PHAN_HOI}}</td>
                                                <td style="width: 20%;border: 1px solid black">{{khachphanhoi.HO_VA_TEN}}</td>
                                                <td  ng-bind-html="khachphanhoi.THONG_TIN_PHAN_HOI | unsafe" style="width: 69%;border: 1px solid black"></td>
                                            </tr>
                                        </table>
                                        <button type="button" ng-click="transfer(item)" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#newphanhoi">Thêm mới</button>
                                    </div>
                                    <div id="thongkemuahang" class="tab-pane fade">
                                        <table class="table">
                                            <thead class="table-header-popup">
                                                <tr>
                                                    <th style="text-align: center">Mã hàng</th>
                                                    <th style="text-align: center">Số lượng mua</th>
                                                    <th style="text-align: center">Đơn giá mua</th>
                                                    <th style="text-align: center">Ngày mua</th>
                                                    <th style="text-align: center">Nhân viên bán hàng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="thongke in thong_ke_mua_hang" ng-click="details(taikhoan)" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                                                    <td>{{thongke.MA_HANG}}</td>
                                                    <td>{{thongke.SL_MUA}}</td>
                                                    <td>{{thongke.DON_GIA_MUA}}</td>
                                                    <td>{{thongke.NGAY_MUA | date: 'dd/MM/yyyy'}}</td>
                                                    <td>{{thongke.NHAN_VIEN_MUA_HANG}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="col-md-12">
                                            <div>
                                                <div id="pagination-3" style="width: 30%;display:inline-block"></div>
                                            </div>
                                            <div>
                                                <samp>
                                                    <span>Current page:</span>
                                                    <span id="page-number-3"></span>
                                                </samp>
                                            </div>
                                        </div>
                                        <button type="button" ng-click="transfer(item)" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#newtaikhoan">Thêm mới</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                    </div>
                </div>

            </div>
        </div>
        <!--end modal-->
        <!-- Modal them moi lien he -->
        <div class="modal fade" id="newlienhe" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content" style="height: 100%">

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addtencongty" class="col-sm-2 control-label">Người liên hệ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addtencongty" ng-model="nguoi_lien_he">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addvpgiaodich" class="col-sm-2 control-label">Chức vụ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addvpgiaodich" ng-model="chuc_vu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adddiachixuathoadon" class="col-sm-2 control-label">Phòng ban</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="adddiachixuathoadon" ng-model="phong_ban">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addmasothue" class="col-sm-2 control-label">Ngày sinh</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="ngay_sinh">
                            </div>
                            <label for="addwebsite" class="col-sm-1 control-label">Giới tính</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addwebsite" ng-model="gioi_tinh">
                            </div>
                            <label for="addsomayban" class="col-sm-1 control-label">Email cá nhân</label>
                            <div class="col-sm-2">
                                <input type="tel" class="form-control" id="addsomayban" ng-model="email_ca_nhan">
                            </div>
                            <label for="addemail" class="col-sm-1 control-label">Số điện thoại 1</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="addemail" ng-model="so_dien_thoai1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addsongayduocno" class="col-sm-2 control-label">Skype</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addsongayduocno" ng-model="skype">
                            </div>
                            <label for="addsonotoida" class="col-sm-1 control-label">Facebook</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addsonotoida" ng-model="facebook">
                            </div>
                            <label for="addfax" class="col-sm-1 control-label">Email công ty</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="addfax" ng-model="email_cong_ty">
                            </div>
                            <label for="addemail" class="col-sm-1 control-label">Số điện thoại 2</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="addemail" ng-model="so_dien_thoai2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sales phụ trách</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="nvkd.HO_VA_TEN" value="{{nvkd.HO_VA_TEN}}" ng-change="onNhanVienFind()" ng-focus="showtable_ho_va_ten = true">
                                    <input type="hidden" class="form-control" ng-model="nvkd.USERNAME" ng-change="onNhanVienFind()" ng-focus="showtable_ho_va_ten = true">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="showtable_ho_va_ten = !showtable_ho_va_ten" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block" ng-show="showtable_ho_va_ten">
                                            <div class="table-responsive" style="max-height: 280px">
                                                <table class="table table-striped table-hover" st-pagination-scroll st-table="staffsCollection" st-safe-src="arrayNVFinded">
                                                    <tbody>
                                                        <tr ng-repeat="staff in staffsCollection" style="cursor:pointer" ng-click="showInfoStaff(staff)">
                                                            <td>{{staff.HO_VA_TEN}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label">Tình trạng làm việc</label>
                            <div class="col-sm-3">
                                <select ng-model="tinh_trang_lam_viec" id="adddieukhoanthanhtoan" style="height: 27px;padding-left: 5px;width:100%" data-ng-options="item as item for item in tinh_trang"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addghichu" class="col-sm-2 control-label">Ghi chú</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="addghichu" ng-model="ghi_chu_lh"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="save" name="save" class="btn btn-default" data-dismiss="modal" ng-click="addnew(item.MA_KHACH_HANG)">Thêm</button>
                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal thêm mới tài khoản -->
        <div class="modal fade" id="newtaikhoan" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New Maker</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Số tài khoản: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Maker Code" class="form-control input-md" ng-model="so_tai_khoan">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Tên tài khoản: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Maker Name" class="form-control input-md" ng-model="ten_tai_khoan">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Tên ngân hàng : </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Maker's Parent Code " class="form-control input-md" ng-model="ten_ngan_hang">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Chi nhánh: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Note" class="form-control input-md" ng-model="chi_nhanh">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Tỉnh/Thành phố: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Note" class="form-control input-md" ng-model="tinh_tp">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addghichu" class="col-sm-2 control-label">Ghi chú</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3" placeholder="Ghi chú" id="addghichu" ng-model="ghi_chu_tk"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 50px;">
                                    <label class="col-sm-2 control-label">Loại tài khoản</label>
                                    <div class="col-sm-6">
                                        <select ng-model="loai_tai_khoan" class="form-control input-md">
                                            <option ng-repeat="loaitaikhoan in list_loaitaikhoan" value="{{loaitaikhoan.MA_LOAI}}">{{loaitaikhoan.TEN_LOAI}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-8 addnew">
                                <button id="addnew" name="addnew" class="btn" ng-click="addnewtk(item.MA_KHACH_HANG)" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->

        <!-- Modal thêm mới phản hồi -->
        <div class="modal fade" id="newphanhoi" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                                <div class="col-md-12">
                                    <label class="col-md-2">Phản hồi mới</label>
                                    <div class="col-sm-10">
                                        <textarea id="phanhoimoi" name="phanhoimoi" class="form-control input-md"></textarea>
                                    </div>
                                </div>
                                <script>
                                        CKEDITOR.replace('phanhoimoi', {
                                        height: 150
                                    });
                                </script>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-8 addnew" style="text-align: left;margin-top: 30px;">
                                <button id="addnew" name="addnew" class="btn" ng-click="addnewphanhoi(item.MA_KHACH_HANG)" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->

        <table id="example" class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã khách hàng</th>
                    <th>Tên công ty</th>
                    <th>Email</th>
                    <th>Tỉnh</th>
                    <th>Quốc gia</th>
                    <th>Phân loại khách</th>
                    <th>Tình trạng hoạt động</th>
                    <th>Sales phụ trách</th>
                    <th>Sửa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filtered" ng-click="transfer(item);get_lienhe(item.MA_KHACH_HANG);get_taikhoan(item.MA_KHACH_HANG);get_phanhoi(item.MA_KHACH_HANG);get_thongkemuahang(item.MA_KHACH_HANG)" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text-center" data-toggle="modal" data-target="#chitietkhachhang">{{item.MA_KHACH_HANG}}</td>
                    <td class="text-left" data-toggle="modal" data-target="#chitietkhachhang">{{item.TEN_CONG_TY}}</td>
                    <td class="text-center" data-toggle="modal" data-target="#chitietkhachhang">{{item.EMAIL}}</td>
                    <td class="text-left" data-toggle="modal" data-target="#chitietkhachhang">{{ item.TINH}}</td>
                    <td class="text-center" data-toggle="modal" data-target="#chitietkhachhang">{{item.QUOC_GIA}}</td>

                    <td class="text-center" data-toggle="modal" data-target="#chitietkhachhang">{{item.TEN_LOAI_KHACH}}</td>
                    <td class="text-center" data-toggle="modal" data-target="#chitietkhachhang">{{item.TINH_TRANG_HOAT_DONG}}</td>
                    <td class="text-center">
                        <p ng-hide="editMode" ng-model="item.USERNAME">{{item.HO_VA_TEN}}</p>
                        <md-input-container ng-show="editMode">
                            <label>Sale</label>
                            <md-select ng-model="item.USERNAME">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="state in list_nhanvienkd" ng-value="state.USERNAME">
                                    {{state.HO_VA_TEN}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td>
                        <button type="submit" ng-hide="editMode" ng-click="editMode = true; editAppKey(item)" class="btn btn-default">Edit</button>
                        <button type="submit" ng-show="editMode" ng-click="editMode = false; chuyensale(item)" class="btn btn-default">Save</button>
                        <button type="submit" ng-show="editMode" ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
                    </td>
                </tr>
                <!--Detail row-->

            </tbody>
        </table>


        <div class="col-md-12">
            <div>
                <div id="pagination-2" style="width: 30%;display:inline-block"></div>
            </div>
            <div>
                <samp>
                    <span>Current page:</span>
                    <span id="page-number-2"></span>
                </samp>
            </div>
        </div>
    </div>

    <script>
    (function () {

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
                alert("Thành công")
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });


    })();
    </script>



</div>