@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Inventory/Views/Shared/Layout.cshtml";
}
<script src="~/Content/self-writing/js/Controllers/ThemMoiKhachCtrl.js"></script>

<div ng-app="myApp" ng-controller="ThemMoiKhachCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />

    <!-- Dashboard content -->
    <div class="row" id="Grid">
        <div class="col-lg-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <!--Thông tin chung-->
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title">Thông tin chung<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">

                                    <!--Khách Hàng-->
                                    <div class="form-group">
                                        <!--Mã khách-->
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Khách hàng </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="arrayKhachHang.ma_khach_hang" ng-change="onKhachHangFind()" ng-focus="showtable_ma_khach_hang = true" placeholder="Tên Khách Hàng">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="showtable_ma_khach_hang = !showtable_ma_khach_hang">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block" ng-show="showtable_ma_khach_hang">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-hover" st-table="khCollection" st-safe-src="arrayKHFinded" style="display: block">
                                                                    <thead class="bg-blue text-white">
                                                                        <tr>
                                                                            <th>Mã Khách Hàng</th>
                                                                            <th>Tên Khách Hàng</th>
                                                                            <th>Email</th>
                                                                            <th>MST</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr style="cursor:pointer" ng-click="showInfoKH(kh)" ng-repeat="kh in khCollection">
                                                                            <td>{{kh.MA_KHACH_HANG}}</td>
                                                                            <td>{{kh.TEN_CONG_TY}}</td>
                                                                            <td>{{kh.EMAIL}}</td>
                                                                            <td>{{kh.MST}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end Mã khách-->
                                        <!--Tên công ty-->
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Địa chỉ xuất hóa đơn</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="arrayKhachHang.dia_chi_xuat_hoa_don" placeholder="Địa chỉ xuất hóa đơn">
                                            </div>
                                            
                                        </div>


                                    </div>
                                    <!--End khách hàng-->


                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Thông tin chung-->
                    <!--Thông tin trạng thái-->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title">Trạng Thái Đơn<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <input type="checkbox" ng-model="KhoGiuHang.giuPO">Đơn giữ đã có PO
                                    <br>
                                    <input type="checkbox" ng-model="KhoGiuHang.donDangXuat">Đơn đang xuất
                                    <br>
                                    <input type="checkbox" ng-model="KhoGiuHang.donDaHoanThanh">Đơn đã hoàn thành
                                    <br>
                                    <input type="checkbox" ng-model="KhoGiuHang.huyDonGiu">Đơn đã hủy
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Thông tin trạng thái-->
                    <!--Chi tiết giữ hàng-->
                    <div class="col-md-12 content-group" style="">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead>
                                    <tr class="bg-primary-300" style="background: #64B5F6;">
                                        <th style="width:15%" class="text-center">Mã hàng</th>
                                        <th style="width:15%" class="text-center">Tên hàng</th>
                                        <th style="width:5%" class="text-center !important">ĐVT</th>
                                        <th style="width:5%" class="text-center !important">Xuất xứ</th>
                                        <th style="width:5%" class="text-center !important">SL giữ</th>
                                        <th style="width:10%" class="text-center">Đơn giá</th>
                                        <th style="width:10%" class="text-center">Thành tiền</th>
                                        <th style="width:10%" class="text-center !important">Ngày xuất</th>
                                        <th style="width:5%" class="text-center !important">Đã xuất</th>
                                        <th style="width:20%" class="text-center">Ghi chú</th>
                                        <th style="width:1%" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Detail.ListAdd">
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.MA_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.TEN_HANG" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.DVT" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.XUAT_XU" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.SL_GIU" class="form-control">
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.DON_GIA" format="number" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            {{item.DON_GIA * item.SL_GIU | currency:'':0}} vnd
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="text" datepicker class="form-control datetimepickerKT" ng-model="item.NGAY_XUAT">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="checkbox" name="NGAYXUAT" value="{{item.DA_XUAT}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.GHI_CHU" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <center><i class="fa fa-minus-circle" style="color:red;" ng-click="Remove($index)" aria-hidden="true"></i></center>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="10" style="text-align:center; cursor:pointer" ng-click="AddNew()">Bấm vào đây để thêm mới</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" ng-click="onSave()"><i class="icon-floppy-disk"></i> Lưu</button>
                        <a href="/" class="btn bg-orange-400"><i class="icon-blocked"></i> Bỏ qua</a>
                    </div>


                </div>

                <!--Tìm Kiếm Hàng Hóa-->
                <div class="tab-pane fade in" style="border:1px solid #ddd">
                    <center>
                        <div id="quick-access" style="padding-bottom: 20px;padding-top: 20px; align-content:center">
                            <form class="form-inline quick-search-form" role="form" action="#">
                                <div class="form-group" style="width: 90%">
                                    <input type="text" style="width: 60%" class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="search_text">

                                    <button type="button" style="border-radius: 5px" class="btn btn-info" ng-model="find" ng-click="FindProduct(search_text)">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </center>



                    <div class="col-md-12 content-group" style="">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead>
                                    <tr class="bg-primary-300">
                                        <th style="width:2%" class="text-center"></th>
                                        <th style="width:6%" class="text-center">Mã hàng</th>
                                        <th style="width:6%" class="text-center">Tên hàng</th>
                                        <th style="width:8%" class="text-center">Mã chuẩn</th>
                                        <th style="width:6%" class="text-center">Thông số</th>
                                        <th style="width:4%" class="text-center">Hãng</th>
                                        <th style="width:2%" class="text-center">ĐVT</th>
                                        <th style="width:5%" class="text-center">Xuất xứ</th>
                                        <th style="width:6%" class="text-center">Giá List</th>
                                        <th style="width:5%" class="text-center">Discontinue</th>
                                        <th style="width:8%" class="text-center">Mã chuyển đổi</th>
                                        <th style="width:4%" class="text-center">Tồn HL</th>
                                        <th style="width:4%" class="text-center">Tồn ĐN</th>
                                        <th style="width:5%" class="text-center">Tồn HCM</th>
                                        <th style="width:4%" class="text-center">Tồn HP</th>
                                        <th style="width:5%" class="text-center">Đang giữ</th>
                                        <th style="width:5%" class="text-center">Ký gửi</th>
                                        <th style="width:5%" class="text-center">Tồn Hãng</th>
                                        <th style="width:9%" class="text-center">Thời gian cấp hàng (Hãng)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in danhsachhanghoa">
                                        <td>
                                            <div>
                                                <input type="checkbox" ng-model="checkhanghoa">
                                                <div ng-if="checkhanghoa">
                                                    <label ng-init="check(item.MA_HANG, item.TEN_HANG, item.DVT, item.XUAT_XU,item.GIA_LIST)"></label>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.MA_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.TEN_HANG" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.MA_CHUAN" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.THONG_SO" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.HANG" class="form-control">
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.DVT" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.XUAT_XU" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.GIA_LIST" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="checkbox" ng-model="item.DISCONTINUE">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.MA_CHUYEN_DOI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_HOPLONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_DANANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_HCM" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_HAIPHONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.SL_DANG_GIU" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.SL_KY_GUI_DI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_TAI_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.THOI_GIAN_CAP_HANG" class="form-control">
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!--End tìm kiếm hàng hóa-->
            </div>
        </div>
    </div>

    <!-- /dashboard content -->

    <input type="button" value="PrintQuotation" onclick="javascript:printDiv('Grid')" />

</div>

<script language="javascript" type="text/javascript">
        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
              "<html><head><title></title></head><body>" +
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
</script>