@model IEnumerable<ERP.Web.Models.Database.XL_DANG_KY_PHE_DUYET>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Settings/Views/Shared/Layout.cshtml";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Dangkypheduyet.css" rel="stylesheet" />

<div class="panel-heading title">Bạn đang xem danh mục Tài khoản ngân hàng nội bộ</div>
<br />
<div ng-app="myApp" ng-controller="LoaitknganhangCtrl">
    <div class="content" ng-controller="LoaitknganhangnoiboCtrl">


        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Search Here" ng-model="search_text">
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New</button>

        <!-- Modal Add New -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Số tài khoản: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Số tài khoản" class="form-control input-md" ng-model="sotaikhoan">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên tài khoản: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tên tài khoản" class="form-control input-md" ng-model="tentaikhoan">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Loại tài khoản: </label>
                                    <div class="col-md-4">
                                        <select ng-model="loaitaikhoan" class="form-control input-md">
                                            <option ng-repeat="abc in loaitknganhang" value="{{abc.MA_LOAI}}">{{abc.TEN_LOAI}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên ngân hàng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tên ngân hàng" class="form-control input-md" ng-model="tennganhang">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Chi nhánh: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Chi nhánh " class="form-control input-md" ng-model="chinhanh">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tỉnh TP: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tỉnh TP " class="form-control input-md" ng-model="tinhtp">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Ghi chú: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Ghi chú" class="form-control input-md" ng-model="ghichu">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8 addnew">
                                        <button id="addnew" name="addnew" class="btn" ng-click="add()" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Upadate</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Số tài khoản: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="số tài khoản" class="form-control input-md" ng-model="item.SO_TAI_KHOAN" ng-disabled="true">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã công ty: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã công ty" class="form-control input-md" ng-model="item.MA_CONG_TY">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên tài khoản: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tên tài khoản" class="form-control input-md" ng-model="item.TEN_TAI_KHOAN">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Loại tài khoản: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Loại tài khoản" class="form-control input-md" ng-model="item.LOAI_TAI_KHOAN">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên ngân hàng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tên ngân hàng" class="form-control input-md" ng-model="item.TEN_NGAN_HANG">
                                    </div>
                                </div>
                               
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Chi nhánh: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Chi nhánh" class="form-control input-md" ng-model="item.CHI_NHANH">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tỉnh TP: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tỉnh TP" class="form-control input-md" ng-model="item.TINH_TP">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Ghi chú: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Ghi chú" class="form-control input-md" ng-model="item.GHI_CHU">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-11 edit">
                                        <button class="btn" ng-click="save(item.SO_TAI_KHOAN)" data-dismiss="modal">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Delete Maker</legend>
                                <center>Are you sure you want to delete <b>{{item.SO_TAI_KHOAN}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn" ng-click="delete(item.SO_TAI_KHOAN)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->

        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    <th>Số tài khoản</th>
                    <th>Tên tài khoản </th>
                    <th>Loại tài khoản</th>
                    <th>Tên ngân hàng</th>
                    <th>Chi nhánh</th>
                    <th>Tỉnh TP</th>
                    <th>Mã công ty</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in filtered = (loaitknganhangnoibo | filter: {TEN_TAI_KHOAN:search_text}) | itemsPerPage:15 | orderBy: 'item.LOAI_TAI_KHOAN'" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text-left">{{ item.SO_TAI_KHOAN }}</td>
                    <td class="text-left">{{item.MA_CONG_TY}}</td>
                    <td class="text-left">{{item.TEN_TAI_KHOAN}}</td>
                    <td class="text-left">{{item.LOAI_TAI_KHOAN}}</td>
                    <td class="text-left">{{item.TEN_NGAN_HANG}}</td>
                    <td class="text-left">{{item.CHI_NHANH}}</td>
                    <td class="text-left">{{item.TINH_TP}}</td>
                    <td class="text-left">{{item.MA_CONG_TY}}</td>
                    <td>{{item.GHI_CHU}}</td>
                    <td>
                        <button class="btn btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>

                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>


