
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Settings/Views/Shared/Layout.cshtml";
}
<link href="~/Content/self-writing/css/HangDuocQuanTam.css" rel="stylesheet" />
<div ng-app="myApp" ng-controller="hangduocquantamCtrl">
    <div class="content">

        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%;margin-bottom: 30px;">
                    <input type="text" class="form-control" placeholder="Type Inventory Name You Want To Search Here" ng-model="searchtext" style="width:  60%">
                </div>

            </form>

        </div>

        <table id="example" class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã hàng</th>
                    <th>Họ và tên</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate-start="item in filtered = (list_hangduocquantam | filter: {MA_HANG:searchtext}) | itemsPerPage:10">
                    <td>{{ item.MA_HANG }}</td>
                    <td>{{item.HO_VA_TEN}}</td>
                </tr>
                <tr ng-if="item.expanded" dir-paginate-end=""></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>   
</div>

