
@{
    ViewBag.Title = "Index";
}
<script src="~/Content/self-writing/js/Controllers/ChuyenSaleCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/ChuyenSaleService.js"></script>
<style>
    .hienthi {
        display : block !important;
    }
    .nohienthi{
        display : none !important;
    }
</style>
<div ng-app="myApp" ng-controller="chuyensaleCtrl">
    <div class="content">
        <table id="example" class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã khách hàng</th>
                    <th>Tên công ty</th>
                    <th>Tỉnh</th>
                    <th>Sale hiện thời</th>
                    <th>Sale sắp chuyển</th>
                    <th>Sale cũ 1</th>
                    <th>Sale cũ 2</th>
                    <th>Sửa</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entry in filtered = (list_chuyensale | filter: {TEN_CONG_TY:search_text}) | itemsPerPage:15 | orderBy: 'item.TEN_CONG_TY'" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td >{{entry.MA_KHACH_HANG}}</td>                  
                    <td >{{entry.TEN_CONG_TY}}</td>
                    <td>{{entry.TINH}}</td>
                    <td class="text-left">
                        <p ng-hide="editMode" ng-model="entry.SALE_HIEN_THOI">{{entry.HO_VA_TEN}}</p>
                        <md-input-container ng-show="editMode">
                            <label>Sale</label>
                            <md-select ng-model="entry.SALE_HIEN_THOI">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="state in list_nhanvienkd" ng-value="state.USERNAME">
                                    {{state.HO_VA_TEN}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td class="text-left">
                        <p ng-hide="editMode" ng-model="entry.SALE_SAP_CHUYEN">{{entry.TEN_SALE_SAP_CHUYEN}}</p>
                        <md-input-container ng-show="editMode">
                            <label>Sale</label>
                            <md-select ng-model="entry.SALE_SAP_CHUYEN">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="state in list_nhanvienkd" ng-value="state.USERNAME">
                                    {{state.HO_VA_TEN}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td class="text-left">
                        <p ng-hide="editMode" ng-model="entry.SALE_CU">{{entry.TEN_SALE_CU}}</p>
                        <md-input-container ng-show="editMode">
                            <label>Sale</label>
                            <md-select ng-model="entry.SALE_CU">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="state in list_nhanvienkd" ng-value="state.USERNAME">
                                    {{state.HO_VA_TEN}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td class="text-left">
                        <p ng-hide="editMode" ng-model="entry.SALE_CU_2">{{entry.TEN_SALE_CU_HON}}</p>
                        <md-input-container ng-show="editMode">
                            <label>Sale</label>
                            <md-select ng-model="entry.SALE_CU_2">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="state in list_nhanvienkd" ng-value="state.USERNAME">
                                    {{state.HO_VA_TEN}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td>                    
                        <button type="submit" ng-hide="editMode" ng-click="editMode = true; editAppKey(entry)" class="btn btn-default">Edit</button>
                        <button type="submit" ng-show="check1()" ng-click="editMode = false; save(entry)" class="btn btn-default">Save</button>
                        <button type="submit" ng-show="check2()" ng-click="editMode = false; add(entry)" class="btn btn-default">Thêm</button>
                        <button type="submit" ng-show="editMode" ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

