@model IEnumerable<ERP.Web.Models.Database.XL_DANG_KY_PHE_DUYET>

@{
    ViewBag.Title = "Index";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Donhangdukien.css" rel="stylesheet" />

<div class="panel-heading title">Bạn đang trong mục Đơn Hàng Dự Kiến</div>
<br />
<div ng-app="myApp" ng-controller="DonhangdukienCtrl">
    <input type="hidden" value="@Session["USERNAME"]" id="username"/>
    <div class="content">


        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Search Here" ng-model="search_text">
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New</button>

        <!-- Modal Add New -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="mainForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã dự kiến: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã dự kiến" class="form-control input-md" ng-model="madukien">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã khách hàng: </label>
                                    <div class="col-md-4">
                                        <select ng-model="makhachhang" class="form-control input-md">
                                            <option ng-repeat="abc in danhsachkhachhang" value="{{abc.MA_KHACH_HANG}}">{{abc.TEN_CONG_TY}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Text input-->


                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="name">Thành công: </label>
                                            <div class="col-md-4">
                                                <input type="checkbox" ng-model="thanhcong">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="name">Thất bại: </label>
                                            <div class="col-md-4">
                                                <input type="checkbox" ng-model="thatbai">
                                            </div>
                                        </div>



                                
                                    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Lý do thất bại: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Lý do thất bại" class="form-control input-md" ng-model="lydothatbai">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8 addnew">
                                        <button id="addnew" name="addnew" class="btn" ng-click="add()" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Upadate</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã dự kiến: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã dự kiến" class="form-control input-md" ng-model="item.MA_DU_KIEN" ng-disabled="true">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã khách hàng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã khách hàng" class="form-control input-md" ng-model="item.MA_KHACH_HANG">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Thành công: </label>
                                    <div class="col-md-4">
                                        <input type="checkbox" ng-model="item.THANH_CONG">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Thất bại: </label>
                                    <div class="col-md-4">
                                        <input type="checkbox" ng-model="item.THAT_BAI">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Lý do thất bại: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Lý do thất bại" class="form-control input-md" ng-model="item.LY_DO_THAT_BAI">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Trực thuộc: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Trực thuộc" class="form-control input-md" ng-model="item.TRUC_THUOC">
                                    </div>
                                </div>
                             
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-11 edit">
                                        <button class="btn" ng-click="save(item.MA_DU_KIEN)" data-dismiss="modal">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Delete Maker</legend>
                                <center>Are you sure you want to delete <b>{{item.MA_DU_KIEN}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn" ng-click="delete(item.MA_DU_KIEN)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->

        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    <th>Mã dự kiến</th>
                    <th>Mã khách hàng </th>
                    <th>Ngày tạo </th>
                    <th>Thành công</th>
                    <th>Thất bại</th>
                    <th>Lý do thất bại</th>
                    <th>Trực thuộc</th>
                    <th>Tạo báo giá</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in filtered = (donhangdukien | filter: {MA_DU_KIEN:search_text}) | itemsPerPage:15 | orderBy: 'item.MA_KHACH_HANG'" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text-left">{{ item.MA_DU_KIEN }}</td>
                    <td class="text-left">{{item.TEN_CONG_TY}}</td>
                    <td class="text-left">{{item.NGAY_TAO | date: 'dd/MM/yyyy'}}</td>
                    <td class="text-left">{{item.NGUOI_LIEN_HE}}</td>
                    <td><input readonly type="checkbox" ng-model="item.THANH_CONG" /></td>
                    <td><input readonly type="checkbox" ng-model="item.THAT_BAI" /></td>
                    <td class="text-left">{{item.LY_DO_THAT_BAI}}</td>
                    <td><a href="/BaoGia/Index/{{item.MA_DU_KIEN}}" style="cursor:pointer">Báo giá</a></td>
                    <td>
                        <button class="btn btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>

                </tr>

            </tbody>
            <tfoot>
                <tr style="border:none !important">
                    <td colspan="10" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>


