
@{
    ViewBag.Title = "Index";
}

<script src="~/Content/self-writing/js/Controllers/BaoGiaCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/BaoGiaService.js"></script>


<div ng-app="myApp" ng-controller="baogiaCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-white" style="margin-bottom: 10px;">

                <div class="panel-body" style="padding: 5px !important; margin-bottom: 10px;">
                    <!--Thông tin về đơn hàng dự kiến-->
                    <div class="col-md-12" style="margin-bottom: -10px;">
                        <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                        <h6 class="panel-title">Thông tin đơn dự kiến<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                    </div>
                                    <div class="panel-body" style="font-size:12px;">
                                        
                                            <label class="control-label">Đơn dự kiến:  </label><br/>
                                            <label class="control-label">Sale báo giá:  </label><br />
                                            <label class="control-label">Khách hàng:  </label><br />
                                            <label class="control-label">Tên Liên hệ:  </label>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                    <h6 class="panel-title">Danh sách báo giá <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                </div>
                                <div class="panel-body" style="font-size:12px; margin-top: -12px;">
                                    <div class="col-md-12 content-group" style="height: 27px; font-size:12px">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover ">
                                                <thead>
                                                    <tr class="bg-primary-300" style="background:#64B5F6; color:white">
                                                        <th style="width:5%" class="text-center">Số báo giá</th>
                                                        <th style="width:5%" class="text-center">Ngày báo giá</th>
                                                        <th style="width:5%" class="text-center">Đã duyệt</th>
                                                        <th style="width:10%" class="text-center">Người duyệt</th>
                                                        <th style="width:5%" class="text-center">Đã trúng</th>
                                                        <th style="width:5%" class="text-center">Đã hủy</th>
                                                        <th style="width:20%" class="text-center">Lý do hủy</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Thông tin về đơn hàng dự kiến-->

                    <!--Thông tin chung-->
                    <div class="col-md-12">
                        <div class="panel panel-default" style="margin-bottom: 10px;">
                            <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                <h6 class="panel-title">Thông tin chung Báo Giá<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            </div>
                            <div class="panel-body" style="padding: 5px !important; font-size:12px">
                                <form class="form-horizontal">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <!--Điều khoản thanh toán-->
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">Điều khoản thanh toán </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select class="form-control" style="height: 27px;" ng-model="BangBaoGia.dieu_khoan_thanh_toan" id="adddieukhoanthanhtoan"
                                                            data-ng-options="item as item for item in dieukhoantt"></select>
                                                </div>
                                            </div>
                                            <!--End Điều khoản thanh toán-->
                                            <!--Hạn thanh toán-->
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">Hạn thanh toán </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" style="height: 27px;" class="form-control" ng-model="BangBaoGia.han_thanh_toan" />
                                                </div>
                                            </div>
                                            <!-- end Hạn thanh toán-->
                                        </div>
                                        <div class="col-md-6">
                                            <!--Phương thức thanh toán-->
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">Phương thức thanh toán </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select class="form-control" style="height: 27px;" ng-model="BangBaoGia.phuong_thuc_thanh_toan" id="adddieukhoanthanhtoan"
                                                            data-ng-options="item as item for item in phuongthuctt"></select>
                                                </div>
                                            </div>
                                            <!-- end phương thức thanh toán-->
                                            <!--Hiệu lực báo giá-->
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">Hiệu lực báo giá </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" style="height: 27px;" class="form-control" ng-model="BangBaoGia.hieu_luc_bao_gia" />
                                                </div>
                                                <div class="col-md-3" style="margin-right: -96px;">
                                                    <label class="control-label">Phí vận chuyển :</label> 
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="number" style="height: 27px; width:100px" class="form-control" ng-model="BangBaoGia.phi_van_chuyen" value="0" ng-change="kiemtra(item)" placeholder="vnđ"/>
                                                </div>
                                            </div>
                                            <!--End hiệu lực báo giá và phí vận chuyển-->
                                        </div>
                                    </div>
                                    
                                    <!--Chi tiết giữ hàng-->
                                    <div class="col-md-12 content-group" style="padding-left: 5px; padding-right: 5px;">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover ">
                                                <thead>
                                                    <tr class="bg-primary-300" style="background:#64B5F6; color: white">
                                                        <th style="width:10%" class="text-center">Mã hàng</th>
                                                        <th style="width:5%" class="text-center">Số lượng</th>
                                                        <th style="width:5%" class="text-center !important">Đơn giá</th>
                                                        <th style="width:5%" class="text-center !important">Chiết khấu</th>
                                                        <th style="width:8%" class="text-center !important">Cách tính thành tiền</th>
                                                        <th style="width:8%" class="text-center">Thành tiền</th>
                                                        <th style="width:5%" class="text-center">% VAT</th>
                                                        <th style="width:8%" class="text-center !important">Thành tiền VAT</th>
                                                        <th style="width:9%" class="text-center !important">Tình trạng hàng</th>
                                                        <th style="width:10%" class="text-center">Thời gian giao hàng</th>
                                                        <th style="width:10%" class="text-center !important">Ngày giao hàng</th>
                                                        <th style="width:10%" class="text-center !important">Địa điểm giao hàng</th>
                                                        <th style="width:10%" class="text-center">Ghi chú</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in Detail.ListAdd">
                                                        <td>
                                                            <div>
                                                                <input type="text" style="height: 27px;" ng-model="item.MA_HANG" class="form-control">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="number" style="height: 27px;" ng-model="item.SO_LUONG" class="form-control" ng-change="kiemtra(item)">
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="number" style="height: 27px;" ng-model="item.DON_GIA" class="form-control" ng-change="kiemtra(item)">
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="number" style="height: 27px;" ng-model="item.CHIET_KHAU" class="form-control" ng-change="kiemtra(item)">
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="form-control" style="height: 27px;" ng-model="item.CACH_TINH_THANH_TIEN" ng-change="kiemtra(item)"
                                                                    data-ng-options="cachtinh as cachtinh for cachtinh in cachtinhthanhtien"></select>
                                                        </td>
                                                        <td class="text-center">
                                                            {{item.THANH_TIEN | currency: '':0}}
                                                            <input ng-model="item.THANH_TIEN" style="height: 27px;" class="form-control" type="hidden" ng-disabled="true" />
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="number" ng-model="item.CK_VAT" style="height: 27px;" class="form-control" ng-change="kiemtra(item)">
                                                        </td>
                                                        <td class="text-center">
                                                            {{item.TIEN_VAT | currency: '' : 0}}
                                                            <input ng-model="item.TIEN_VAT" style="height: 27px;" ng-disabled="true" class="form-control" type="hidden" />
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="text" style="height: 27px;" ng-model="item.TINH_TRANG_HANG" class="form-control">
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="text" style="height: 27px;" ng-model="item.THOI_GIAN_GIAO_HANG" class="form-control">
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="text" style="height: 27px;" mask="39/39/9999" ng-model="item.NGAY_GIAO_HANG" class="form-control">
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="text" style="height: 27px;" ng-model="item.DIA_DIEM_GIAO_HANG" class="form-control">
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="text" style="height: 27px; " ng-model="item.GHI_CHU" class="form-control">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <tfoot >
                                                    <tr>
                                                        <td colspan="13">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3">Tổng thành tiền: </label>
                                                                <p class="col-md-6" style="text-align:left">{{tong_thanh_tien | currency: '':0}} vnd</p>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="col-md-3">VAT 10% : </label>
                                                                <p class="col-md-6" style="text-align:left">{{tong_tien_VAT | currency: '':0}} vnd</p>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="col-md-3">Tổng tiền(chưa tính phí vận chuyển): </label>
                                                                <p class="col-md-6" style="text-align:left">{{tong_tien_chua_van_chuyen | currency: '':0}} vnd</p>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <hr />
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="col-md-3">Tổng tiền(đã tính phí vận chuyển): </label>
                                                                <p class="col-md-6" style="text-align:left" id="tong_tien">{{BangBaoGia.tong_tien | currency: '':0}} vnd</p>
                                                            </div>
                                                        </td>
                                                        <td colspan="9"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

      
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Thông tin chung-->


                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" ng-click="onSave()"><i class="icon-floppy-disk"></i> Lưu</button>
                        <a href="/" class="btn bg-orange-400"><i class="icon-blocked"></i> Bỏ qua</a>
                    </div>


                </div>

                <!--Tìm Kiếm Hàng Hóa-->
                <div class="tab-pane fade in" style="border:1px solid #ddd">
                    <center>
                        <div id="quick-access" style="padding-bottom: 20px;padding-top: 20px; align-content:center">
                            <form class="form-inline quick-search-form" role="form" action="#">
                                <div class="form-group" style="width: 90%">
                                    <input type="text" style="height: 27px;width: 60%;  font-size:12px"  class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="search_text">

                                    <button type="button" style="height: 27px;border-radius: 5px;  font-size:12px" class="btn btn-info" ng-model="find" ng-keypress="FindProduct(search_text)">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </center>



                    <div class="col-md-12 content-group" style="height: 27px; font-size:12px">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead>
                                    <tr class="bg-primary-300" style="background:#64B5F6; color:white">
                                        <th style="width:2%" class="text-center"></th>
                                        <th style="width:6%" class="text-center">Mã hàng</th>
                                        <th style="width:6%" class="text-center">Tên hàng</th>
                                        <th style="width:8%" class="text-center">Mã chuẩn</th>
                                        <th style="width:6%" class="text-center">Thông số</th>
                                        <th style="width:4%" class="text-center">Hãng</th>
                                        <th style="width:2%" class="text-center">ĐVT</th>
                                        <th style="width:6%" class="text-center">Giá List</th>
                                        <th style="width:5%" class="text-center">Discontinue</th>
                                        <th style="width:8%" class="text-center">Mã chuyển đổi</th>
                                        <th style="width:4%" class="text-center">Tồn HL</th>
                                        <th style="width:4%" class="text-center">Tồn ĐN</th>
                                        <th style="width:5%" class="text-center">Tồn HCM</th>
                                        <th style="width:4%" class="text-center">Tồn HP</th>
                                        <th style="width:5%" class="text-center">Đang giữ</th>
                                        <th style="width:5%" class="text-center">Ký gửi</th>
                                        <th style="width:5%" class="text-center">Tồn Hãng</th>
                                        <th style="width:9%" class="text-center">Thời gian cấp hàng (Hãng)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in danhsachhanghoa">
                                        <td>
                                            <div>
                                                <input type="checkbox" ng-model="checkhanghoa">
                                                <div ng-if="checkhanghoa">
                                                    <label ng-init="check(item.MA_HANG, item.TEN_HANG, item.DVT, item.XUAT_XU,item.GIA_LIST)"></label>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.MA_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.TEN_HANG" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.MA_CHUAN" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.THONG_SO" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="item.HANG" class="form-control">
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.DVT" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.GIA_LIST" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="checkbox" ng-model="item.DISCONTINUE">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.MA_CHUYEN_DOI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_HOPLONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_DANANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_HCM" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_HAIPHONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.SL_DANG_GIU" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.SL_KY_GUI_DI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.TON_TAI_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="item.THOI_GIAN_CAP_HANG" class="form-control">
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!--End tìm kiếm hàng hóa-->
            </div>
        </div>
    </div>

    <!-- /dashboard content -->

</div>