
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Settings/Views/Shared/Layout.cshtml";
}

@model IEnumerable<ERP.Web.Models.Database.HT_NGUOI_DUNG>



<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="~/Content/self-writing/css/phanquyenHL.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/NguoiDungHL.css" rel="stylesheet" />
<script src="http://malsup.github.com/jquery.form.js"></script>

<div class="panel-heading">Bạn đang xem danh mục người dùng</div>
<br />
<div ng-app="myApp" ng-controller="userCtrl">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 80%">
            <div class="modal-content">

                <div class="modal-body">
                    <fieldset id="addnewform">
                        <!-- Form Name -->
                        <legend>Add New User</legend>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Username </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Username" class="form-control input-md" ng-model="username">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Password: </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Password" class="form-control input-md" ng-model="password">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Fullname: </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Fullname" class="form-control input-md" ng-model="hovaten">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Phone Number: </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Phone Number" class="form-control input-md" ng-model="sdt">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Email </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Email" class="form-control input-md" ng-model="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label ckeditor" for="name">Thành tích: </label>
                                <div class="col-md-10 ckeditor">
                                    <textarea id="thanhtich" name="thanhtich" placeholder="Achievements" class="form-control input-md" ng-model="thanhtich"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Gender: </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Username" class="form-control input-md" ng-model="gioitinh">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Birthday </label>
                                <div class="col-md-10">
                                    <input type="text" mask="39/19/9999" placeholder="dd/MM/yyyy" class="form-control input-md" ng-model="ngaysinh">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Native Place: </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Native Place" class="form-control input-md" ng-model="quequan">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Education: </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Education" class="form-control input-md" ng-model="trinhdohocvan">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">Department ID </label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Department ID" class="form-control input-md" ng-model="maphongban">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px !important" for="name">Admin </label>
                                <div class="col-md-3">
                                    <input type="checkbox" ng-model="admin">
                                </div>
                                <label class="col-md-3 control-label" style="padding-top: 0px !important" for="name">Allowed </label>
                                <div class="col-md-3">
                                    <input type="checkbox" ng-model="allowed">
                                </div>
                            </div>
                            <form action="/Settings/NguoiDung" ng-controller="imgCtrl" method="post">
                                <div class="col-md-3">
                                    @Html.AntiForgeryToken()
                                    <input type='file' name="files" id="imgInp" style="width: 100%" />
                                    <input type="submit" value="Upload Ảnh cá nhân" style="margin-top: 30px;" />
                                </div>
                                <div class="col-md-9">
                                    <img id="blah" src="#" height="250" width="250" />
                                </div>
                            </form>
                            <script>
                                        CKEDITOR.replace('thanhtich', {
                                            height: 100
                                        });
                            </script>
                        </div>
                        <!-- Button (Double) -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-12 addnew">
                                <button id="addnew" name="addnew" class="btn btn-success" ng-click="add()" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="content" ng-controller="nhanvienCtrl">

        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Type Fullname You Want To Search Here" ng-model="search_text">
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New User</button>

        <!-- Modal Thêm mới -->
        
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 80%">
                <div class="modal-content">

                    <div class="modal-body">
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Sửa người dùng</legend>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Username </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Username" class="form-control input-md" ng-model="nv.USERNAME" ng-disabled="true">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Password: </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Password" class="form-control input-md" ng-model="nv.PASSWORD">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Fullname: </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Fullname" class="form-control input-md" ng-model="nv.HO_VA_TEN">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Phone Number: </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Phone Number" class="form-control input-md" ng-model="nv.SDT">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Email </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Email" class="form-control input-md" ng-model="nv.EMAIL">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label ckeditor" for="name">Thành tích: </label>
                                        <div class="col-md-10 ckeditor">
                                            <textarea id="editthanhtich" name="editthanhtich" placeholder="Achievements" class="form-control input-md" ng-model="nv.THANH_TICH_CONG_TAC"></textarea>
                                        </div>
                                    </div>
                                    <script>
                                        CKEDITOR.replace('editthanhtich', {
                                            height: 100
                                        });
                                    </script>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Gender: </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Gender" class="form-control input-md" ng-model="nv.GIOI_TINH">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Birthday </label>
                                        <div class="col-md-8">
                                            <input type="text" mask="29/19/9999" placeholder="dd/MM/yyyy" class="form-control input-md" ng-model="nv.NGAY_SINH">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Native Place: </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Native Place" class="form-control input-md" ng-model="nv.QUE_QUAN">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Education: </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Education" class="form-control input-md" ng-model="nv.TRINH_DO_HOC_VAN">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Department ID </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Department ID" class="form-control input-md" ng-model="nv.MA_PHONG_BAN">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Company ID </label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="Company ID" class="form-control input-md" ng-model="nv.MA_CONG_TY" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" style="padding-top: 0px !important" for="name">Admin </label>
                                        <div class="col-md-3">
                                            <input type="checkbox" ng-model="nv.IS_ADMIN" >
                                        </div>
                                        <label class="col-md-3 control-label" style="padding-top: 0px !important" for="name" >Allowed </label>
                                        <div class="col-md-3">
                                            <input type="checkbox" ng-model="nv.ALLOWED">
                                        </div>
                                    </div>
                                    <form action="/Settings/NguoiDung" ng-controller="imgCtrl" method="post">
                                        <div class="col-md-3">
                                            @Html.AntiForgeryToken()
                                            <input type='file' name="files" id="imgEdit" style="width: 100%" />
                                            <input type="submit" value="Upload Ảnh cá nhân" style="margin-top: 30px;" />
                                        </div>
                                        <div class="col-md-9">
                                            <img id="edit_img" src="#" height="250" width="250" />
                                        </div>
                                    </form>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-12 addnew">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="save(item.USERNAME)" data-dismiss="modal">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Delete User</legend>
                                <center>Are you sure you want to delete <b>{{item.USERNAME}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn btn-danger" ng-click="delete(item.ID)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn btn-success" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->

        <div class="modal fade" id="myChiTiet" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm" style="width: 50%">
                <div class="modal-content" style="border-radius: 15px">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel">Details</h4>
                    </div>
                    <div class="modal-body" ng-repeat="nv in nhanvien">
                        <div class="col-md-4">
                            <img ng-src="~/Content/Images/Avatar/{{nv.AVATAR}}" name="aboutme" style="width: 100%" height="250" border="0" class="img-circle">
                        </div>
                        <div class="col-md-8">
                            <h1 style="color: #097be0">{{nv.HO_VA_TEN}}</h1>
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <p class="col-md-5" style="color: #097be0"><i class="fa fa-home" aria-hidden="true" style="margin-right: 5px;color: #097be0"></i>{{nv.TEN_PHONG_BAN}}</p>
                                <p class="col-md-5" style="color: #097be0"><i class="fa fa-hand-o-right" aria-hidden="true" style="margin-right: 5px;color: #097be0"></i>{{nv.CHUC_VU}}</p>
                            </div>
                            <div class="col-md-12 thongtin">
                                <p class="col-md-6"><b>Họ và tên:</b> {{nv.HO_VA_TEN}}</p>
                                <p class="col-md-6"><b>Quê quán:</b> {{nv.QUE_QUAN}}</p>
                            </div>
                            <div class="col-md-12 thongtin">
                                <p class="col-md-6"><b>Giới tính:</b> {{nv.GIOI_TINH}}</p>
                                <p class="col-md-6"><b>Học vấn:</b> {{nv.TRINH_DO_HOC_VAN}}</p>
                            </div>
                            <div class="col-md-12 thongtin">
                                <p class="col-md-6"><b>Ngày sinh:</b> {{nv.NGAY_SINH |stringToDate:"shortDate" }}</p>
                            </div>
                            <div class="col-md-12 thongtin">
                                <p class="col-md-6"><b>Số điện thoại:</b> {{nv.SDT}}</p>
                            </div>
                            <div class="col-md-12 thongtin">
                                <p class="col-md-6"><b>Email:</b> {{nv.EMAIL}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 style="color: #097be0">Thành tích công tác</h1>
                            <p class="{{nv.USERNAME}}-1 col-md-12" ng-bind-html="nv.THANH_TICH_CONG_TAC | unsafe" style="word-wrap:break-word"></p>
                        </div>
                        <button style="float:right" class="btn  btn-circle" ng-click="update_nv(nv)" data-dismiss="modal" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i>Sửa</button>
                    </div>
                    <div class="modal-footer" style="margin-top: 80px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">I've seen enough about {{item.HO_VA_TEN}}</button>
                    </div>
                </div>
            </div>
        </div>

        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr dir-paginate-start="item in filtered = (danhsachuser | filter: {HO_VA_TEN:search_text}) | itemsPerPage:15 " class="hover" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="get_nhanvien(item.USERNAME);edit(item)">
                    <td class="text-left" data-toggle="modal" data-target="#myChiTiet">{{item.HO_VA_TEN }}</td>
                    <td class="text-left" data-toggle="modal" data-target="#myChiTiet">{{item.SDT}}</td>
                    <td class="text-left" data-toggle="modal" data-target="#myChiTiet">{{item.EMAIL}}</td>
                    <td data-toggle="modal" data-target="#myChiTiet">{{item.MA_CONG_TY}}</td>
                    <td>
                        <a href="/NghiepVuNguoiDung/phanquyen/{{item.USERNAME}}" class="btn btn_icon_permission btn-default"><i class="fa fa-cog" style="margin-right: 5px;" aria-hidden="true"></i>Permission</a> &nbsp;&nbsp;
                        <a href="/NguoiDung/Details/{{item.USERNAME}}" class="btn btn_icon_permission btn-default"><i class="fa fa-cog" style="margin-right: 5px;" aria-hidden="true"></i>Permission Menu</a> &nbsp;&nbsp;
                        <a href="/NguoiDung/Lichsu/{{item.USERNAME}}" class="btn btn_icon_permission btn-default"><i class="fa fa-cog" style="margin-right: 5px;" aria-hidden="true"></i>History</a> &nbsp;&nbsp;
                    </td>
                </tr>
                <!--Detail row-->
                <tr ng-if="item.expanded" dir-paginate-end=""></tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    (function () {

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });

    })();
</script>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>

