
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Settings/Views/Shared/Layout.cshtml";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Loaidoituong.css" rel="stylesheet" />
<div class="panel-heading title">Bạn đang xem danh mục loại đối tượng</div>
<br />
<div ng-app="myApp" ng-controller="LoaidoituongCtrl">
    <div class="content">
        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Search Here" ng-model="search_text">
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New</button>

        <!-- Modal Add New -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã loại đối tượng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã loại đối tượng" class="form-control input-md" ng-model="maloaidoituong">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên loại đối tượng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tên loại đối tượng" class="form-control input-md" ng-model="tenloaidoituong">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8 addnew">
                                        <button id="addnew" name="addnew" class="btn" ng-click="add()" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Upadate</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã loại đối tượng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã loại đối tượng" class="form-control input-md" ng-model="item.MA_LOAI_DOI_TUONG">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Tên Loại đối tượng: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Tên Loại đối tượng" class="form-control input-md" ng-model="item.TEN_LOAI_DOI_TUONG">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-11 edit">
                                        <button class="btn" ng-click="save(item.MA_LOAI_DOI_TUONG)" data-dismiss="modal">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Delete Maker</legend>
                                <center>Are you sure you want to delete <b>{{item.MA_LOAI_DOI_TUONG}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn" ng-click="delete(item.MA_LOAI_DOI_TUONG)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->

        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    <th>Mã loại đối tượng</th>
                    <th>Tên loại đối tượng</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in filtered = (loaidoituong | filter: {TEN_LOAI_CHUNG_TU:search_text}) | itemsPerPage:15 | orderBy: 'item.MA_LOAI_CHUNG_TU'" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text-left">{{ item.MA_LOAI_DOI_TUONG }}</td>
                    <td class="text-left">{{item.TEN_LOAI_DOI_TUONG}}</td>
                    <td>
                        <button class="btn btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>

                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>




