@{
    ViewBag.Title = "layout";
    if (Session["USERNAME"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
   

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOPLONG | Trang chủ</title>
    <link rel="shortcut icon" type="image/ico" href="~/logo_hoplong.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/download/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/nav_hoplong_multilevel.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/download/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link href="~/Content/download/bootstrap/css/layout_all.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/Layout-CSS.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/LayoutHL.css" rel="stylesheet" />



    <script src="~/Content/download/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/download/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Content/download/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/download/angularjs/angular.min.js"></script>
    <script src="~/Content/Scripts/angularjs/app.js"></script>
    <script src="~/Content/self-writing/js/app.js"></script>
    <script src="~/Content/self-writing/js/Service.js"></script>
    <script src="~/Content/self-writing/js/Controller.js"></script>
    <script src="~/Content/download/angularjs/dirPagination.js"></script>
    <script src="~/Content/download/moment.min.js"></script>
    <script src="~/Content/download/date_directive.js"></script>
    <script src="~/Content/download/bootstrap-datetimepicker.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="~/Content/download/angular-smart-table/angular-smart-table/dist/smart-table.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script>
        $(function () {
            CKEDITOR.config.extraPlugins = 'justify';
            CKEDITOR.config.extraPlugins = 'filebrowser';
        });
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="myApp"  ng-controller="menuCtrl">
    <div class="wrapper" style="padding-bottom: 50px;">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="color: white">
                    <img src="~/Content/Images/Logos/logo_hoplong.png" height="30" width="40"/>
               </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Content/Images/Logos/logo_hoplong.png" height="60" width="100" /></span>
                
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" style="background: deepskyblue">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="color: white;">
                    <span class="sr-only">Toggle navigation</span>
                </a>
 
                <div class="navbar-custom-menu pull-right">
                    <ul class="nav navbar-nav ">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <!--<span class="label label-success">4</span>-->
                            </a>

                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <!--<span class="label label-warning">10</span>-->
                            </a>

                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <!--<span class="label label-danger">9</span>-->
                            </a>

                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                                <a href="/UserDetails/Index"><img src="~/Content/Images/Avatar/@Session["AVATAR"]" class="user-image" alt="User Image"></a>
                                <a href="/UserDetails/Index"><span class="hidden-xs">@Session["HO_VA_TEN"]</span></a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li><a href="/Home/Logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="background: #3C8DBC;color: white;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group" style="width: 100%">
                        <input id="searchtextbox" type="text" name="q" class="form-control" placeholder="Search...">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat" style="display:inline-block;background:none !important;float:left;">
                            <i class="fa fa-search" id="searchtext"></i>
                        </button>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- DANH SÁCH MENU TRÁI -->
                <ul class="sidebar-menu" >

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-circle-o"></i>
                            <span>CHECK HÀNG & GIÁ</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/KinhDoanh/CheckTonKho/TonCacNoi"><i class="fa fa-angle-double-right"></i> check tồn kho</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị báo giá</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bell-o"></i>
                            <span>ĐƠN HÀNG DỰ KIẾN</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/KinhDoanh/Dondukien/Index"><i class="fa fa-angle-double-right"></i> Danh sách đơn hàng</a></li>
                            <li><a href="/KinhDoanh/Dondukien/Create"><i class="fa fa-angle-double-right"></i> Tạo mới đơn dự kiến</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn thành công</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn thất bại</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Lịch trình đơn hàng</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-text-o"></i>
                            <span>BÁO GIÁ</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách báo giá</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Báo giá mới</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn báo giá đã trúng</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn báo giá chưa được quyết</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn chưa làm đề nghị xuất</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cart-plus"></i>
                            <span>GIỮ HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách đề nghị giữ hàng</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị giữ hàng mới</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị đã giữ</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị chưa giữ</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-hand-o-right"></i>
                            <span>ĐỀ NGHỊ XUẤT HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách đề nghị xuất hàng</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị xuất hàng mới</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị đã xuất</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đề nghị đang xuất</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-sign-out"></i>
                            <span>XUẤT HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách xuất hàng</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cart-arrow-down"></i>
                            <span>BÁN HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách hóa đơn bán hàng</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            <span>GIAO HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách đơn giao hàng</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn hàng đang giao</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Đơn đã hoàn thành</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background: none !important">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Bản quyền &copy; thuộc về <a href="https://hoplongtech.com">hoplongtech.com</a>.</strong>
    </footer>
    <!-- jQuery 2.2.3 -->
    <script src="~/Content/download/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/download/dist/js/app.min.js"></script>
    <script src="~/Content/download/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/download/plugins/fastclick/fastclick.js"></script>

    <script src="~/Content/self-writing/js/nav_hoplong_multilevel.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>
    
    <style>
        body input {
            border: 1px solid #00BFFF !important;
            border-radius: 5px !important;
        }

        body select {
            border: 1px solid #00BFFF !important;
            border-radius: 5px !important;
        }

        body textarea {
            border: 1px solid #00BFFF !important;
            border-radius: 5px !important;
        }

        body button {
            background: #00BFFF !important;
            color: white !important;
            border: none !important;
        }

        body {
            font-family: 'Times New Roman';
        }
        .hienthi{
        display: block !important;
    }

    .bienmat{
        display: none !important;
    }
    </style>

    <script>
        window.setInterval(function () {
            $.get("/Home/Alive", function (data) {
                //alert("still alive")
            }, 180000);
        });

    </script>


</body>
</html>
