
@{
    Layout = null;
}

<!DOCTYPE html>
<html style="background-image: url('/Content/Images/Logos/background_login.png');height: 100%;background-size: 100% 100%;background-repeat:no-repeat">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hoplongtech</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/download/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/download/dist/css/AdminLTE.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/self-writing/css/Login.css" rel="stylesheet" />
    <!-- iCheck -->
    
</head>
<body>
  
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->

<!-- Form Module-->
<div class="module form-module" style="border-radius:20px;background: #eee; box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 5px 5px 5px #666;-webkit-box-shadow: 5px 5px 5px #666;">
    <div class="col-md-12">
        <div class="col-md-4" style="padding-top: 10%">
            <img src="~/Content/Images/Logos/logo_hoplong.png" style="width: 100%;height: 100%" />
        </div>
        <div class="col-md-8" style="font-size: 12px;padding-top: 8%">
            <p style="font-size: 13px; font-weight: bold; color:#0631fc; font-family:'Times New Roman'">CÔNG TY CỔ PHẦN CÔNG NGHỆ HỢP LONG</p>
            <p>Địa chỉ: 412 Trần Khát Chân,Hai Bà Trưng,Hà Nội</p>
            <p>Hotline: 0436617545 - Fax: 0436617560</p>
            <p>Email: info@hoplongtech.com.vn</p>
        </div>
    </div>
  <div class="form" >
      
    <h2>Please login</h2>
      <p style="color:red">@ViewBag.error</p>
    <form action="/Home/Login" method="post">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" name="username"  placeholder="Username">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password"  placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
    </form>
  </div>

  <div class="cta">
    <label  style="float:left; color:forestgreen"  data-toggle="modal" data-target="#myModal">Forget password?</label> 
      <a href="/Home/Register"><label style="float:right; color:forestgreen">Register</label></a>
  </div>
</div>


    <!--Modal forget your password-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    Please Contact!!!
                </div>
                <div class="modal-body ">
                    <center>
                        <p>IT Support: Lâm Hiền</p>
                        <p>Hotline: 0983537256</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>
</html>
