body {
    padding:0px;
    margin:0px;
}
.panel-heading {
        margin: auto;
        width: 40%;
        text-align: center;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
td,tr,th{
    border: 1px solid #ddd !important;
    border-collapse: collapse;
    vertical-align: middle !important;
    text-align: center;
    font-family: Lora;
    color: #777777;
}
label{
    vertical-align: middle;
}
th{
    font-size: 16px;
    background: white;
}
.expandrow{
    padding-top: 10px;
    text-align: left !important;
}
.top{
    display: inline-block;
    float:left;
}
.searchbox{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.searchbox input{
    width: 220px;
}
#quick-access{
    text-align:center
}
.quick-search-form .form-control {
height: 35px;
padding: 8px 15px;
color: #a4a4a4;   /* change  color of text to be typed inside search box */
font-size: 13px;
width: 250px;   
line-height: 20px;
background-color: transparent;
border: 1px solid #ccc;
border-radius: 5px !important;
-webkit-box-shadow: none;
box-shadow: none;
}



.btn-custom {
color: #FFFFFF;            
background-color: #7bae23;   /* change  button color */
border-radius: 0!important;    /* button border radius */
padding: 6px 10px;              /* Button size change*/

}

.btn-custom:hover{
background-color:#9AC94B; /* change  button color on hover */
border-radius: 0!important;

}


.custom-glyph-color{
    color:#fff;       /* change  magnifying glass color in  button */
}

.custom-glyph-color:hover{
    color:#b1b1b1;         /* change  magnifying glass color in  button on mouse hover */
}

.hover:hover{
    background: #87cefa;
    
}

.even{
    background-color: #fff;
}
.odd{
    background: #ECF0F5;
}
.form-group{
    height: 40px;
}
.dactinh{
    margin-bottom: 20px;
    height: 100px;
}
#ghichu{
    height: 100px;
}
.tab-content{
    margin-top: 20px;
}
.fa{
    font-size: 25px;
}
.minus{
    color: red;
}
.plus{
    color: #00acd6;
}
.expand{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.chitiet{
    text-align: left;
    font-family: Time New Romans;
    font-weight: normal;
}
fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}
legend{
    padding: 2px;
    width: auto;
    border: none;    
    color: #00acd6;
}
.first{
    width: 33%;
}
.second{
    width: 40%;
}
.third{
    width: 22%;
}
.padding{
    padding-top: 6px;
}
.addnew{
    margin-top: 10px;
    text-align: center;
}
.edit{
    margin-top: 10px;
    text-align: center;
}

.thongtin{
    margin-bottom: 15px;
}