@{
    ViewBag.Title = "layout";
    if (Session["USERNAME"] == null)
    {
        Response.Redirect("~/Home/Login");
    }


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOPLONG | Trang chủ</title>
    <link rel="shortcut icon" type="image/ico" href="~/logo_hoplong.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/download/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/nav_hoplong_multilevel.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/download/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link href="~/Content/download/bootstrap/css/layout_all.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/Layout-CSS.css" rel="stylesheet" />
    <link href="~/Content/self-writing/css/LayoutHL.css" rel="stylesheet" />
    <script src="~/Content/download/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/download/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Content/download/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/download/angularjs/angular.min.js"></script>
    <script src="~/Content/self-writing/js/app.js"></script>
    <script src="~/Content/self-writing/js/Service.js"></script>
    <script src="~/Content/self-writing/js/Controller.js"></script>
    <script src="~/Content/download/angularjs/dirPagination.js"></script>
    <script>
        $(function () {
            CKEDITOR.config.extraPlugins = 'justify';
            CKEDITOR.config.extraPlugins = 'filebrowser';
        });
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="myApp" ng-controller="menuCtrl">
    <div class="wrapper" style="padding-bottom: 50px;">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="color: white">
                    <img src="~/Content/Images/Logos/logo_hoplong.png" height="30" width="40" />
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Content/Images/Logos/logo_hoplong.png" height="60" width="100" /></span>

            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" style="background: deepskyblue">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="color: white;">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- DANH SÁCH MENU TRÊN-->
                <div class="navbar-custom-menu pull-left">
                    <input type="hidden" value="@Session["MA_PHONG_BAN"]" id="maphongban" />
                    <input type="hidden" value="@Session["USERNAME"]" id="username" />
                    <ul class="nav navbar-nav" ng-repeat="menu in danhsachmenu" ng-class="get(menu.USERNAME)">
                        <li ng-class="check(menu.TRANG_THAI)">
                            <a href="{{menu.LINK}}" class="dropdown-toggle" ng-mouseup="edit(menu.MA_MENU)">{{menu.TEN_MENU}}</a>
                        </li>
                    </ul>
                </div><!-- /end menu bar -->



                <div class="navbar-custom-menu pull-right">
                    <ul class="nav navbar-nav ">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <!--<span class="label label-success">4</span>-->
                            </a>

                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <!--<span class="label label-warning">10</span>-->
                            </a>

                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <!--<span class="label label-danger">9</span>-->
                            </a>

                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="/UserDetails/Index"><img src="~/Content/Images/Avatar/@Session["AVATAR"]" class="user-image" alt="User Image"></a>
                            <a href="/UserDetails/Index"><span class="hidden-xs">@Session["HO_VA_TEN"]</span></a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li><a href="/Home/Logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="background: #3C8DBC;color: white;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group" style="width: 100%">
                        <input id="searchtextbox" type="text" name="q" class="form-control" placeholder="Search...">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat" style="display:inline-block;background:none !important;float:left;">
                            <i class="fa fa-search" id="searchtext"></i>
                        </button>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- DANH SÁCH MENU TRÁI -->
                <ul class="sidebar-menu">

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-usd"></i>
                            <span style="font-size:14px; font-weight: bold">QUỸ</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">

                            
                            
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-download"></i>
                                    <span style="font-weight: bold">Thu tiền</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul  class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách chứng từ thu</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Thu tiền khách hàng</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Rút tiền gửi về nộp quỹ</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Thu khác</a></li>
                                </ul>
                            
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-upload"></i>
                                    <span style="font-weight: bold">Chi tiền</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul  class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách chứng từ chi</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Trả tiền nhà cung cấp</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Tạm ứng nhân viên</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Gửi tiền ngân hàng</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Chi khác</a></li>
                                </ul>

                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-university"></i>
                            <span style="font-size:14px; font-weight: bold">NGÂN HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                           

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-download"></i>
                                    <span style="font-weight: bold">Thu tiền</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách chứng từ chi</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Thu tiền khách hàng</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Thu vay nợ</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Thu khác</a></li>
                                </ul>

                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-upload"></i>
                                    <span style="font-weight: bold">Chi tiền</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Danh sách chứng từ thu</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Trả tiền nhà cung cấp</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Tạm ứng nhân viên</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Trả các khoản vay</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Chi khác</a></li>
                                </ul>

                            </li>
                            <li style="font-weight: bold"><a href="#"><i class="fa fa-retweet"></i> Chuyển tiền nội bộ</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span style="font-size:14px; font-weight: bold">MUA HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li style="font-weight: bold"><a href="#"><i class="fa fa-list-alt"></i> Danh sách chứng từ mua</a></li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-cubes"></i>
                                    <span style="font-weight: bold">Mua hàng hóa</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Mua hàng có hóa đơn</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Mua hàng không hóa đơn</a></li>
                                </ul>

                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-hashtag"></i>
                                    <span style="font-weight: bold">Mua dịch vụ</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Mua dịch vụ có hóa đơn</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Mua dịch vụ không hóa đơn</a></li>
                                </ul>

                            </li>
                            
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-sellsy"></i>
                            <span style="font-size:14px; font-weight: bold">BÁN HÀNG</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li style="font-weight: bold"><a href="#"><i class="fa fa-list-alt"></i> Danh sách bán hàng</a></li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-cubes"></i>
                                    <span style="font-weight: bold">Bán HH, DV trong nước</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Kèm hóa đơn</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Không có hóa đơn</a></li>
                                </ul>

                            </li>
                            
                            <li style="font-weight: bold"><a href="#"><i class="fa fa-file-o"></i> Hóa đơn</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background: none !important">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Bản quyền &copy; thuộc về <a href="https://hoplongtech.com">hoplongtech.com</a>.</strong>
    </footer>
    <!-- jQuery 2.2.3 -->
    <script src="~/Content/download/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/download/dist/js/app.min.js"></script>
    <script src="~/Content/download/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/download/plugins/fastclick/fastclick.js"></script>

    <script src="~/Content/self-writing/js/nav_hoplong_multilevel.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>

    <style>
        body input {
            border: 1px solid #00BFFF !important;
            border-radius: 5px !important;
        }

        body select {
            border: 1px solid #00BFFF !important;
            border-radius: 5px !important;
        }

        body textarea {
            border: 1px solid #00BFFF !important;
            border-radius: 5px !important;
        }

        body button {
            background: #00BFFF !important;
            color: white !important;
            border: none !important;
        }

        body {
            font-family: 'Times New Roman';
        }

        .hienthi {
            display: block !important;
        }

        .bienmat {
            display: none !important;
        }
    </style>
    <script>
        window.setInterval(function () {
            $.get("/Home/Alive", function (data) {
                //alert("still alive")
            }, 180000);
        });

    </script>

</body>
</html>
