
@{
    ViewBag.Title = "Index";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/TaiKhoanHachToanHL.css" rel="stylesheet" />
<div ng-app="myApp" ng-controller="taikhoanCtrl">
    <div class="content">


        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 60%" class="form-control" placeholder="Type Account You Want To Search Here" ng-model="search_text">
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New Account</button>

        <!-- Modal Add New -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Add New Account</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Account: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Account" class="form-control input-md" ng-model="stk">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Account Name: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Account Name" class="form-control input-md" ng-model="tentaikhoan">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Featured: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Featured" class="form-control input-md" ng-model="tinhchat">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">English Name: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="English Name" class="form-control input-md" ng-model="tentienganh">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Account's Parent ID: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="TK cấp cha" class="form-control input-md" ng-model="tk_capcha">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Description: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Description" class="form-control input-md" ng-model="diengiai">
                                    </div>
                                </div>
                         <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8 addnew">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="add()" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Update Account</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Account: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Account" class="form-control input-md" ng-model="item.SO_TK" ng-disabled="true">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Account Name: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Account Name" class="form-control input-md" ng-model="item.TEN_TK">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Featured: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Featured" class="form-control input-md" ng-model="item.TINH_CHAT">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">English Name: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="English Name" class="form-control input-md" ng-model="item.TEN_TA">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Account's Parent ID: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Account's Parent ID" class="form-control input-md" ng-model="item.TK_CAP_CHA">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Description: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Description" class="form-control input-md" ng-model="item.DIEN_GIA">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-11 edit">
                                        <button class="btn btn-success" ng-click="save(item.SO_TK)" data-dismiss="modal">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Delete Account</legend>
                                <center>Are you sure you want to delete <b>{{item.TEN_TK}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn btn-danger" ng-click="delete(item.SO_TK)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn btn-success" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->

        <table id="example" class="table table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    
                    <th>Account</th>
                    <th>Account Name</th>
                    <th>Featured</th>
                    <th>English Name</th>
                    <th>Descriptioni</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in filtered = (danhsachtk | filter: {SO_TK:search_text}) | itemsPerPage:10  | orderBy: 'item.SO_TK'" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text-left" ng-class="whatclass(item.TK_CAP_CHA)">{{ item.SO_TK }}</td>
                    <td class="text-left">{{item.TEN_TK}}</td>
                    <td class="text-left">{{item.TINH_CHAT}}</td>
                    <td>{{item.TEN_TA}}</td>
                    <td>{{item.DIENGIAI}}</td>
                    <td>
                        <button class="btn btn-success btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                        <!--<button class="btn btn-warning btn-circle" ng-click="delete(item.MA_KHO)"><i class="glyphicon glyphicon-remove"></i></button>-->
                    </td>

                </tr>
                <!--Detail row-->
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: none !important">
                        <dir-pagination-controls max-size="12" style="float:right;"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>


